{% extends 'app_skeleton.twig' %}

{% block content %}
<div id="app">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	    <h1>
		    {% include 'partials/app_nav.twig' %} / <i class="bi bi-bag"></i>
		</h1>
	    <div class="btn-toolbar">
  			<a href="/take-out/create" class="btn btn-primary btn-lg"><i class="bi bi-plus-lg"></i></a>
	    </div>
	</div>
{% verbatim %}
	<table class="table table-striped fs-4 mt-4">
		<tbody>
			<tr v-for="(order, index) in orders">
				<td>
					<a class="text-decoration-none" :href="'/take-out/update?id=' + order.id">
					<span class="fw-bold">#{{order.ticketNumber}}</span> /
					&euro;{{order.price}} /
					{{getTime(order.createdAt)}}</a>
				</td>
				<td class="text-end">
                    <button class="btn btn-lg btn-outline-secondary" @click="confirmPayment(order)">
                        <i class="bi bi-currency-euro"></i> <span class="d-none d-sm-none d-md-inline">Πληρωμή</span>
                    </button>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="modal" tabindex="-1" :class="payingOrder ? 'd-block' : ''">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Επιβεβαίωση πληρωμής</h5>
					<button type="button" class="btn-close" @click="payingOrder = null"></button>
				</div>
				<div class="modal-body" v-if="payingOrder">
					<p class="fs-5">#{{payingOrder.ticketNumber}} / &euro;{{payingOrder.price}}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-lg" @click="payingOrder = null">Άκυρο</button>
					<button type="button" class="btn btn-primary btn-lg" @click="pay" :disabled="paying">
						<span class="spinner-border spinner-border-sm me-1" v-if="paying"></span>OK
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endverbatim %}{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script src="/assets/js/vue.global.prod.js"></script>
	<script src="/assets/js/axios.min.js"></script>
	<script>
		vueApp = Vue.createApp({
		    data() {
		    	return {
		    		orders: [],
		    		payingOrder: null,
		    		paying: false
		    	}
		    },
		    mounted() {
		    	setInterval(() => {
					this.fetchOrders()
				}, 5000)
                this.fetchOrders();
		    },
		    methods: {
		    	fetchOrders() {
		    		axios({
	                    url: '/admin/graph-ql',
	                    method: 'post',
	                    data: `{
	                        activeTakeOutOrders {
	                        	id, uuid, price, ticketNumber, createdAt
	                        }
	                    }`
	                }).then(response => {
	                    this.orders = response.data.data.activeTakeOutOrders
	                });
		    	},
		    	getTime(date) {
		    		return date.substr(date.length - 8, 5);
		    	},
		    	confirmPayment(order) {
		    		this.payingOrder = order;
		    	},
		    	pay() {
		    		this.paying = true;
		    		axios.post('/take-out/payment', { orderId: this.payingOrder.id })
		    			.then(response => {
		    				if (response.data === 'ok') {
		    					this.payingOrder = null;
		    					this.paying = false;
		    					this.fetchOrders();
		    				}
		    			}).catch(error => {
		    				alert(error);
		    				this.paying = false;
		    			});
		    	}
		    }
		}).mount('#app');
	</script>
{% endblock %}
