{% extends 'app_skeleton.twig' %}

{% block content %}{% verbatim %}
<div id="app">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	    <div>
            <h1>
                <a href="/take-out/" class="text-decoration-none"><i class="bi bi-bag"></i></a> /
                <span v-if="order.ticketNumber">#{{order.ticketNumber}}</span>
                / &euro;{{totalPrice}}
            </h1>
        </div>
    	<div class="btn-toolbar">
	       	<button class="btn btn-lg btn-primary" @click="save">
	            <span class="spinner-border spinner-border-sm me-1" v-if="savingOrder"></span>
	            <i class="bi bi-floppy"></i>
	        </button>
	    </div>
	</div>
	
	<div class="modal modal-lg d-block" v-if="selectedOrderEntry != null">
  		<div class="modal-dialog modal-fullscreen-sm-down">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title">{{getTranslation(selectedOrderEntry.menuItem, 'el').name}}</h5>
        			<button
        				type="button"
        				class="btn-close"
        				@click="selectedOrderEntry = null;"
        			></button>
      			</div>
      			<div class="modal-body">
      				<div class="mb-3">
						<label class="form-label fw-bold">Έκπτωση</label>
						<div class="input-group mb-3">
							<span class="input-group-text">&euro;</span>
							<input
								class="form-control form-control-lg"
								type="number"
								min="0"
								step="0.1"
								v-model="selectedOrderEntry.discount"
							>
							<button
								class="btn btn-outline-secondary"
								type="button"
								@click="
									selectedOrderEntry.discount = calculateOrderEntryPriceNoDiscount(selectedOrderEntry);
									selectedOrderEntry.discountReason = 'ON_THE_HOUSE'
								"
							>Μάγαζι</button>
						</div>
					</div>
      			</div>
      			<div class="modal-footer">
        			<button
        				type="button"
        				class="btn btn-primary btn-lg"
        				@click="selectedOrderEntry = null"
        			>OK</button>
      			</div>
    		</div>
  		</div>
	</div>
	
	<div class="modal modal-lg d-block" v-if="orderEntryForCancellation != null">
  		<div class="modal-dialog modal-fullscreen-sm-down">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title">{{getTranslation(orderEntryForCancellation.menuItem, 'el').name}}</h5>
        			<button
        				type="button"
        				class="btn-close"
        				@click="orderEntryForCancellation = null"
        			></button>
      			</div>
      			<div class="modal-body">
      				<div class="mb-3">
						<label class="form-label">Λογος ακύρωσης</label>
						<input
							class="form-control form-control-lg"
							type="text"
							v-model="cancellationReason"/>
					</div>
      			</div>
      			<div class="modal-footer">
        			<button
        				type="button"
        				class="btn btn-primary btn-lg"
        				:disabled="cancellationReason.length == 0"
        				@click="
        					orderEntryForCancellation.orderEntryCancellations.push({cancellationReason:cancellationReason, createdAt: getHm()});
							orderEntryForCancellation.quantity--;
        					orderEntryForCancellation = null
        				"
        			>Ok</button>
      			</div>
    		</div>
  		</div>
	</div>

	<div v-for="orderEntryGroup in order.orderEntryGroups" class="border rounded mb-3">
		<div class="row">
			<div class="col">
				<div class="fs-5 fw-medium text-center border-bottom p-1 bg-secondary-subtle">
					{{orderEntryGroup.createdAt.substring(11, 16)}} /
					<span v-if="orderEntryGroup.notes.length > 0">{{orderEntryGroup.notes}} /</span>
					<span @click="printOrderEntryGroup(orderEntryGroup)" class="text-primary">
						reprint
					</span>
                    <span v-if="reprinting == orderEntryGroup.id" class="spinner-border spinner-border-sm"></span>
				</div>
			</div>
		</div>
		
        <div class="mb-1 p-1 ps-2 pe-2">
            <div class="mb-2" v-for="(orderEntry, index) in orderEntryGroup.orderEntries">
                <div class="d-flex w-100 justify-content-between">
                    <div class="fs-5">
                        {{orderEntry.quantity}} &times;
                        {{getTranslation(orderEntry.menuItem, 'el').name}}
                        <span class="text-primary text-decoration-none" v-if="orderEntry.quantity > 0" @click="selectedOrderEntry = orderEntry">
                            / &euro;{{calculateOrderEntryPrice(orderEntry)}}
                        </span>
                    </div>
                    <div>
                        <button
                            type="button"
                            class="btn btn-secondary me-2"
                            :disabled="orderEntry.quantity == 0"
                            @click.stop="orderEntryForCancellation = orderEntry"
                        >
                            <span class="fw-bold">&#x2212;</span>
                        </button>
                        
                    </div>
                </div>
                <div class="mb-0 ps-3">
                    <div v-if="orderEntry.orderEntryExtras.length > 0">
                        <span v-for="(extra, index) in orderEntry.orderEntryExtras">
                            <span>{{extra.name}}</span><span v-if="index != orderEntry.orderEntryExtras.length - 1"> / </span>
                        </span>
                    </div>
                    <div v-if="orderEntry.notes.length > 0">{{orderEntry.notes}}</div>
                </div>
                <div class="mb-0 ps-3">
                    <div v-for="orderEntryCancellation in orderEntry.orderEntryCancellations">
                        <span class="text-danger">{{orderEntryCancellation.cancellationReason}} / {{orderEntryCancellation.createdAt}}</span>
                    </div>
                    <div v-if="orderEntry.discount > 0" class="text-danger">
                        <span v-if="orderEntry.discountReason == 'ON_THE_HOUSE'">Κέρασμα από μαγαζί</span>
                        (-&euro;{{orderEntry.discount}})
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
<canvas width="576" height="1500" class="d-none"></canvas>
{% endverbatim %}{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script src="/assets/js/vue.global.js"></script>
	<script src="/assets/js/axios.min.js"></script>
	<script src="/assets/js/lodash.min.js"></script>
	<script src="/assets/js/epos-2.24.0.js"></script>
	<script>
		let orderId = {{orderId}};
		vueApp = Vue.createApp({
		    data() {
		    	return {
		    		selectedOrderEntry: null,

		    		orderEntryForCancellation: null,
		    		cancellationReason: '',

		    		family: 1,
		    		timing: 1,

		    		newOrderEntryGroup: {
		    			orderEntries: [],
		    			notes: '',
		    			createdAt: ''
		    		},

		    		order: {
		    			ticketNumber: null,
		    			notes: '',
		    			orderEntries: []
		    		},

		    		printers: [],

		    		savingOrder: false,
		    		showOptions: false,

		    		waiter: null,

		    		reprinting: false,

		    		canvasCtx: null
		    	}
		    },
		    watch: {
		        'printers': {
		        	handler: function () {
			        	let isTrue = _.reduce(this.printers, function(result, printer) {
	  						return result && printer.printOk;
						}, true);

						if (isTrue) {
							window.location.href = '/take-out/';
						}
					},
					deep: true,
		            immediate: false
		        }
		    },
		    mounted() {
		    	this.canvasCtx = document.querySelector('canvas').getContext('2d');

		    	let id = new URLSearchParams(window.location.search).get('id');

		    	axios({
                    url: '/admin/graph-ql?useCachedResults=true',
                    method: 'post',
                    data: `{
                        printers {
                        	id, name, printerAddress, isReceiptPrinter
                        }
                    }`
                }).then(response => {
                    this.printers = response.data.data.printers;
                });

                axios({
                    url: '/admin/graph-ql',
                    method: 'post',
                    data: `{
                        order(id: ${id}) {
	                        id, ticketNumber,
	                        orderEntryGroups {
	                        	id, createdAt, notes
		                        orderEntries {
		                        	id, discount, discountReason, timing, family, quantity, notes, menuItemPrice, weight,
		                        	menuItem {
		                        		id, isDrink, price, priceUnit, translations { name, language }, menuPosition,
		                        		extras: allExtras { id, name, price },
		                        		printers { id, name, printerAddress }
		                        	},
		                        	orderEntryExtras { name, price },
		                        	orderEntryCancellations { id, createdAt, cancellationReason }
		                        }
		                    }
	                    },
                        activeUser {
                        	id, fullName
                        }
                    }`
                }).then(response => {
                    this.order = response.data.data.order;
                    this.waiter = response.data.data.activeUser;
                });
		    },
		    computed: {
		    	totalPrice() {
		    		let totalPrice = 0;

		    		_.each(this.order.orderEntryGroups, orderEntryGroup => {
			    		_.each(orderEntryGroup.orderEntries, orderEntry => {
			    			totalPrice += this.calculateOrderEntryPrice(orderEntry);
			    		});
			    	});

		    		_.each(this.newOrderEntryGroup.orderEntries, orderEntry => {
		    			totalPrice += this.calculateOrderEntryPrice(orderEntry);
		    		});

		    		return _.round(totalPrice, 1);
		    	}
		    },
		    methods: {
		    	getHm() {
		    		const today = new Date();
		    		return `${today.getHours()}:${today.getMinutes() < 10 ? '0' + today.getMinutes() : today.getMinutes()}\n`;
		    	},
		    	getTranslation(object, language) {
		    		return _.find(object.translations, translation => translation.language == language);
		    	},
		    	calculateOrderEntryPrice(orderEntry) {
		    		let price = orderEntry.menuItemPrice;

		    		let weight = orderEntry.weight;
		    		if (weight > 0) {
		    			if (weight < 1000) {
		    				price -= (price * ((1000 - weight) / 1000));
		    			} else {
		    				price += price * ((weight - 1000) / 1000);
		    			}
		    		}

		    		_.each(orderEntry.orderEntryExtras, extra => {
		    			price += extra.price;
		    		});

		    		return _.round((price * orderEntry.quantity) - orderEntry.discount, 1);
		    	},
		    	calculateOrderEntryPriceNoDiscount(orderEntry) {
		    		let price = orderEntry.menuItemPrice;

		    		let weight = orderEntry.weight;
		    		if (weight > 0) {
		    			if (weight < 1000) {
		    				price -= (price * ((1000 - weight) / 1000));
		    			} else {
		    				price += price * ((weight - 1000) / 1000);
		    			}
		    		}

		    		_.each(orderEntry.orderEntryExtras, extra => {
		    			price += extra.price;
		    		});

		    		return _.round(price * orderEntry.quantity, 1);
		    	},
		    	save() {
		    		if (this.savingOrder) return;
		    		this.savingOrder = true;

		    		axios.post(`/take-out/update?id=${this.order.id}`, {
		    			order: this.order,
		    			newOrderEntryGroup: this.newOrderEntryGroup
		    		}).then(response => {
		                if (response.data == 'ok') {
		                	//this.printOrder();
                            window.location.href = '/take-out/';
		                }
		            }).catch(error => {
    					console.log(error);
    					this.savingOrder = false;
  					});
		    	},
		    	drawGroupOnCanvas(ctx, printer, orderEntryGroup, label, showTotal) {
		    		const W = 576;
		    		const PAD = 3;
		    		const INDENT = 40;
		    		let y = 0;

		    		ctx.clearRect(0, 0, W, 1500);
		    		ctx.fillStyle = 'white';
		    		ctx.fillRect(0, 0, W, 1500);
		    		ctx.fillStyle = 'black';

		    		const centerText = (text, fontSize, bold = false) => {
		    			ctx.font = `${bold ? 'bold ' : ''}${fontSize}px monospace`;
		    			ctx.textAlign = 'center';
		    			y += fontSize;
		    			ctx.fillText(text, W / 2, y);
		    			y += 8;
		    		};

		    		const leftText = (text, fontSize, bold = false, indent = 0) => {
		    			ctx.font = `${bold ? 'bold ' : ''}${fontSize}px monospace`;
		    			ctx.textAlign = 'left';
		    			y += fontSize;
		    			ctx.fillText(text, PAD + indent, y);
		    			y += 8;
		    		};

		    		const separator = () => {
		    			y += 8;
		    			ctx.lineWidth = 2;
		    			ctx.beginPath();
		    			ctx.moveTo(0, y);
		    			ctx.lineTo(W, y);
		    			ctx.stroke();
		    			y += 12;
		    		};

		    		y += 16;
		    		centerText(`${this.waiter.fullName} / ${this.getHm().trim()}`, 22);
		    		y += 8;
		    		centerText(`--- ${label} ---`, 36, true);
		    		y += 8;
		    		centerText('TAKE AWAY', 44, true);
		    		y += 8;
		    		centerText(`#${this.order.ticketNumber}`, 80, true);

		    		if (orderEntryGroup.notes && orderEntryGroup.notes.length > 0) {
		    			y += 8;
		    			centerText('***', 28);
		    			orderEntryGroup.notes.split('\n').forEach(line => centerText(line, 28));
		    			centerText('***', 28);
		    		}

		    		y += 8;
		    		separator();

		    		let orderEntriesCount = 0;

		    		
                    let entries = orderEntryGroup.orderEntries.filter(orderEntry =>
                        _.findIndex(orderEntry.menuItem.printers, p => p.id == printer.id) != -1
                        || printer.isReceiptPrinter
                    );

                    entries.forEach(orderEntry => {
                        orderEntriesCount++;
                        let quantity = orderEntry.quantity;
                        let name = this.getTranslation(orderEntry.menuItem, 'el').name;
                        let weight = orderEntry.weight != null && orderEntry.weight > 0
                            ? ` ${orderEntry.weight / 1000}Kg` : '';

                        if (printer.isReceiptPrinter) {
                            let priceBlock = ` (€${this.calculateOrderEntryPrice(orderEntry)})`;
                            leftText(`${quantity} \xd7 ${name}${weight}${priceBlock}`, 30, true);
                        } else {
                            let tickboxes = '';
                            if (quantity > 1) {
                                for (let j = 0; j < quantity; j++) tickboxes += '[]';
                            }
                            let mainLine = `${quantity} \xd7 ${name}${weight}`;
                            if (quantity <= 6) mainLine += ` ${tickboxes}`;
                            leftText(mainLine, 30, true);
                            if (quantity > 6 && tickboxes) {
                                leftText(tickboxes, 26, false, INDENT);
                            }
                        }

                        orderEntry.orderEntryExtras.forEach(extra => {
                            leftText(extra.name, 24, false, INDENT);
                        });

                        if (orderEntry.notes && orderEntry.notes.length > 0) {
                            leftText(orderEntry.notes, 24, false, INDENT);
                        }
                    });

                    if (entries.length > 0) {
                        let hasMore = false;
                        for (let j = i + 1; j < 7; j++) {
                            if (this.filterGroupEntries(orderEntryGroup, j).some(oe =>
                                _.findIndex(oe.menuItem.printers, p => p.id == printer.id) != -1
                                || printer.isReceiptPrinter
                            )) {
                                hasMore = true;
                                break;
                            }
                        }
                        if (hasMore) separator();
                    }

		    		if (showTotal && printer.isReceiptPrinter) {
		    			separator();
		    			leftText(`Σύνολο: €${this.totalPrice}`, 30, true);
		    		}

		    		return { orderEntriesCount, canvasHeight: y + 20 };
		    	},
		    	printOrderEntryGroup(orderEntryGroup) {
		    		this.reprinting = orderEntryGroup.id;

		    		if (orderEntryGroup.orderEntries.length == 0) {
		    			this.reprinting = false;
		    			return;
		    		}

		    		_.each(this.printers, printer => {
		    			let { orderEntriesCount, canvasHeight } = this.drawGroupOnCanvas(
		    				this.canvasCtx, printer, orderEntryGroup, 'REPRINT', false
		    			);

		    			if (orderEntriesCount > 0) {
		    				let pr = new epson.ePOSBuilder();
		    				pr.addImage(this.canvasCtx, 0, 0, 576, canvasHeight, pr.COLOR_1, pr.MODE_MONO);
		    				pr.addFeedLine(5);
		    				pr.addCut(pr.CUT_FEED);
		    				axios.post('/admin/print-jobs/create', {
		    					printer: printer.name,
		    					xml: pr.toString()
		    				}).then(response => {
		    					if (response.data == 'ok') {
		    						this.reprinting = false;
		    					}
		    				}).catch(error => { alert(error); });
		    			} else {
		    				this.reprinting = false;
		    			}
		    		});
		    	},
		    }
		}).mount('#app');
	</script>
{% endblock %}
