{% extends 'admin/skeleton.twig' %}

{% set activeNavLink = 'supplies' %}

{% block content %}
<ol class="breadcrumb pt-3">
    <li class="breadcrumb-item">
        <a href="/admin/" class="text-decoration-none">
            <i class="bi bi-house"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="/admin/supplies" class="text-decoration-none">Προμήθειες</a>
    </li>
</ol>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1 mb-3 border-bottom">
    <h1 class="h2">Δημιουργία</h1>
</div>
<form method="post" autocomplete="off" action="">
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Όνομα</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="name"/>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Ομάδα</label>
		<div class="col-sm-10">
			<select class="form-select" name="supplyGroup">
  				{% for supplyGroup in supplyGroups %}
  					<option value="{{supplyGroup.getId}}">{{supplyGroup.getName}}</option>
  				{% endfor %}
			</select>
    	</div>
	</div>
    <div class="row mb-3">
		<label class="col-sm-2 col-form-label">Τιμή</label>
		<div class="col-sm-10">
            <div class="input-group">
                <span class="input-group-text">€</span>
                <input type="text" class="form-control" type="number" min="0" step="0.5" name="price" value="">
                <span class="input-group-text">/</span>
                <select class="form-select" name="priceUnit">
                    {% for priceUnit in priceUnits %}
                        <option value="{{priceUnit.value}}">{{priceUnit.value}}</option>
                    {% endfor %}
                </select>
            </div>
		</div>
	</div>
    <div class="row mb-3">
		<label class="col-sm-2 col-form-label">ΦΠΑ</label>
		<div class="col-sm-10">
            <div class="input-group">
                <input type="number" class="form-control" name="vatRate" min="0" max="100" step="1">
                <span class="input-group-text">%</span>
            </div>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Προμηθευτής</label>
		<div class="col-sm-10">
			<select class="form-select" name="supplier">
				<option value="">—</option>
				{% for supplier in suppliers %}
					<option value="{{supplier.getId}}">{{supplier.getName}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<hr/>
	<div class="row mb-3">
		<div class="col-sm-10 offset-sm-2">
			<button type="submit" class="btn btn-primary">Αποθήκευση</button>
		</div>
	</div>
</form>
{% endblock %}