{% extends 'admin/skeleton.twig' %}

{% set activeNavLink = menu.getName %}

{% block content %}
<ol class="breadcrumb pt-3">
    <li class="breadcrumb-item">
        <a href="/admin/" class="text-decoration-none">
            <i class="bi bi-house"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="/admin/menus" class="text-decoration-none">Μενού</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/admin/menu?id={{menu.getId}}" class="text-decoration-none">{{menu.getName}}</a>
    </li>
</ol>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1 mb-3 border-bottom">
    <h1>Νέα κατηγορία</h1>
</div>
<form method="post" autocomplete="off">
	<input type="hidden" name="menu" value="{{menu.getId}}"/>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Ενεργό</label>
		<div class="col-sm-10">
			<select class="form-select" name="isActive">
  				<option value="1" selected>Ναί</option>
  				<option value="0">Όχι</option>
			</select>
    	</div>
	</div>
    <div class="row mb-3">
		<label class="col-sm-2 col-form-label">Θέση</label>
		<div class="col-sm-10">
			<input type="number" min="1" step="1" class="form-control" name="position" required>
		</div>
	</div>
    {% for language in languages %}
		<div class="row mb-3">
			<label class="col-sm-2 col-form-label">Όνομα [{{language.getIsoCode}}]</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="translations[{{language.getId}}][name]" required>
			</div>
		</div>
	{% endfor %}
	<hr/>
	<div class="row mb-3">
		<div class="col-sm-10 offset-sm-2">
			<button type="submit" class="btn btn-primary">Αποθήκευση</button>
		</div>
	</div>
</form>
{% endblock %}