{% extends 'admin/skeleton.twig' %}

{% set activeNavLink = 'invoices' %}

{%  block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Invoices</h1>
    <div class="btn-toolbar">
       	<a href="/admin/invoices/create" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i> New invoice
        </a>
    </div>
</div>
<div class="table-responsive">
	<table class="table table-striped">
    	<thead>
      		<tr>
      			<th>Supplier</th>
      			<th>Date</th>
      			<th>Total</th>
      			<th>Vat</th>
      		</tr>
    	</thead>
    	<tbody>
			{% for invoice in invoices %}
				<tr>
					<td>
						#{{invoice.getInvoiceNumber}} - {{invoice.getSupplier.getName}}
					</td>
					<td>{{invoice.getDate.format('d/m/Y')}}</td>
					<td>{{invoice.getTotal}}&euro;</td>
					<td>{{invoice.getVat}}&euro;</td>
					<td class="text-end">
						<a class="text-decoration-none" href="/admin/invoices/view?id={{invoice.getId}}">
							View
						</a> |
						<a class="text-decoration-none" href="/admin/invoices/delete?id={{invoice.getId}}">
							Delete
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{%  endblock %}