{% extends 'admin/skeleton.twig' %}

{% set activeNavLink = menu.getName %}

{% block pageCss %}
	<style>
		.menu-item td {
			padding-left: 2em;
		}
	</style>
{% endblock %}

{% block content %}
<ol class="breadcrumb pt-3">
    <li class="breadcrumb-item">
        <a href="/admin/" class="text-decoration-none">
            <i class="bi bi-house"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="/admin/menus" class="text-decoration-none">Μενού</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/admin/menu?id={{menu.getId}}" class="text-decoration-none">{{menu.getName}}</a>
    </li>
</ol>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1 mb-3 border-bottom">
    <h1>
		{{menu.getName}}
		{% if not menu.getIsActive %}
			<span class="badge rounded-pill text-bg-danger">Ανενεργό</span>
		{% endif %}
	</h1>
    <div class="btn-toolbar">
       	<div class="btn-group me-2">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" >
                <i class="bi bi-plus-lg"></i>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="/admin/menu-items/create?menu={{menu.getId}}">
                        Νέο είδος
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/admin/menu-sections/create?menu={{menu.getId}}">
                        Νέα κατηγορία
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" >
                <i class="bi bi-gear"></i>
            </button>
            <ul class="dropdown-menu">
                <li>
                    {% if showArchived %}
                        <a class="dropdown-item" href="/admin/menu?id={{menu.getId}}">
                            Απόκρυψη αρχειοθετημένων
                        </a>
                    {% else %}
                        <a class="dropdown-item" href="/admin/menu?id={{menu.getId}}&showArchived">
                            Εμφάνιση αρχειοθετημένων
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
	<div class="col-8">
		<ul class="list-group menu-sections-list">
		  	{% for menuSection in menu.getMenuSections %}
		  		<li class="list-group-item border border-0 ps-0" id="menu-section-{{menuSection.getId}}">
		  			<div class="d-flex justify-content-between align-items-start border-bottom w-100 menu-section" data-id="{{menuSection.getId}}">
		  				<div class="text">
		  					<a class="text-decoration-none fs-4" href="/admin/menu-sections/update?id={{menuSection.getId}}">
		  						{{menuSection.getTranslation('el').getName}}
		  					</a>
		  					{% if not menuSection.getIsActive %}
		   						<span class="badge rounded-pill text-bg-danger">Inactive</span>
		   					{% endif %}
		  				</div>
		  			</div>
			  		<ul class="list-group list-group-flush menu-items-list">
				  		{% for menuItem in menuSection.getMenuItems %}
                            {% if not menuItem.getIsArchived or showArchived %}
                                <li class="list-group-item border-bottom d-flex justify-content-between align-items-start pe-0">
                                    <span 
                                        class="menu-item" 
                                        data-id="{{menuItem.getId}}"
                                    >
                                        <div class="form-check form-check-inline form-switch">
                                            <input 
                                                class="form-check-input toggle-switch" 
                                                type="checkbox" id="menu-item-{{menuItem.getId}}" 
                                                data-id="{{menuItem.getId}}" 
                                                {{menuItem.getIsActive ? 'checked' : ''}}
                                                {{menuItem.getIsArchived ? 'disabled' : ''}}
                                            >
                                            <label class="form-check-label" for="menu-item-{{menuItem.getId}}"></label>
                                        </div>
                                        <a 
                                            class="text-decoration-none {{menuItem.getIsArchived ? 'text-body-tertiary' : ''}}" 
                                            href="/admin/menu-items/update?id={{menuItem.getId}}"
                                        >
                                            {{menuItem.getTranslation('el').getName}}
                                        </a>
                                        {% if menuItem.getPrice > 0 %}
                                            <span class="{{menuItem.getIsArchived ? 'text-body-tertiary' : ''}}">
                                                / &euro;{{menuItem.getPrice}} 
                                            </span>
                                        {% endif %}
                                        {% if menuItem.getPrinters|length == 0 %}
                                            <i class="fa-solid fa-circle-exclamation"></i>
                                        {% endif %}
                                    </span>
                                    <span>
                                        {% if menuItem.getTrackAvailableQuantity %}
                                            <form action="/admin/menu-items/update?id={{menuItem.getId}}" method="post" style="display:inline-block">
                                                <select class="form-select form-select-sm" name="availableQuantity" >
                                                    {% for i in 0..60 %}
                                                        <option value="{{i}}" {{i == menuItem.getAvailableQuantity ? 'selected' : ''}}>{{i}}</option>
                                                    {% endfor %}
                                                </select>
                                            </form>
                                        {% endif %}
                                    </span>
                                </li>
                            {% endif %}
				  		{% endfor %}
				  	</ul>
		  		</li>
		  	{% endfor %}
		</ul>
	</div>
	<div class="col-4">
		<div class="list-group">
			{% for menuSection in menu.getMenuSections %}
				<a class="list-group-item list-group-item-action" href="#menu-section-{{menuSection.getId}}">
					{{menuSection.getTranslation('el').getName}}
				</a>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
	<script>
		switches = document.querySelectorAll('.toggle-switch');
		switches.forEach(function (s) {
			s.addEventListener('click', function (evt) {
				fetch(
					'/admin/menu-items/toggle?id=' + s.dataset.id
				);
			});
		});
		if (window.innerWidth >= 1024) {
			var sortable = new Sortable(document.querySelector('.menu-sections-list'), {
				onSort: function (evt) {
					ids = [];
					evt.srcElement.querySelectorAll('.menu-section').forEach(menuSection => {
						ids.push(menuSection.dataset.id);
					})
					//post
					fetch(
						'/admin/menu-sections/sort',
						{
							method: 'POST',
							body: JSON.stringify(ids),
							headers: {
								'Content-Type': 'application/json'
							}
						}
					);
				}
			});

			lists = document.querySelectorAll('.menu-items-list');
			lists.forEach(function (list) {
				var sortable = new Sortable(list, {
					onSort: function (evt) {
						ids = [];
						evt.srcElement.querySelectorAll('span.menu-item').forEach(menuItem => {
							ids.push(menuItem.dataset.id);
						})
						//post
						fetch(
							'/admin/menu-items/sort',
							{
								method: 'POST',
	  							body: JSON.stringify(ids),
								headers: {
									'Content-Type': 'application/json'
								}
							}
						);
					}
				});
			});
		}
	</script>
	<script>
		$('form > select').change(function() {
			$(this).parent().submit();
		});
	</script>
{% endblock %}