{% extends 'admin/skeleton.twig' %}

{% set menu = menuItem.getMenuSection.getMenu %}
{% set activeNavLink = menu.getName %}

{% block content %}
<ol class="breadcrumb pt-3">
    <li class="breadcrumb-item">
        <a href="/admin/" class="text-decoration-none">
            <i class="bi bi-house"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="/admin/menus" class="text-decoration-none">Μενού</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/admin/menu?id={{menu.getId}}" class="text-decoration-none">{{menu.getName}}</a>
    </li>
</ol>
<ul class="nav nav-tabs mb-3 mt-3">
	<li class="nav-item">
    	<a class="nav-link fs-5" href="/admin/menu-items/update?id={{menuItem.getId}}">{{menuItem.getTranslation('el').getName}}</a>
  	</li>
    <li class="nav-item">
        <a class="nav-link fs-5" href="/admin/menu-items/recipe?id={{menuItem.getId}}">
            <i class="bi bi-fork-knife"></i> Συνταγή
        </a>
    </li>
  	<li class="nav-item">
    	<a class="nav-link active fs-5" href="/admin/menu-items/statistics?id={{menuItem.getId}}">
            <i class="bi bi-graph-up-arrow"></i> Στατιστικά
        </a>
  	</li>
</ul>
<form method="get" autocomplete="off" action="">
    <input name="id" type="hidden" value="{{menuItem.getId}}"/>
    <ul class="nav nav-pills border-bottom pb-3 mb-3">
        <li class="nav-item">
            <a class="nav-link {{period == 'week' ? 'active' : ''}}" href="?id={{menuItem.getId}}&period=week">Εβδομάδα</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{period == 'month' ? 'active' : ''}}" href="?id={{menuItem.getId}}&period=month">Μήνας</a>
        </li>
        <li class="nav-item me-2">
            <a class="nav-link {{period == 'year' ? 'active' : ''}}" href="?id={{menuItem.getId}}&period=year">Χρόνος</a>
        </li>
        <li class="nav-item me-2">
            <div class="input-group">
                <div class="input-group-text">From</div>
                <input type="date" name="filter[start]" class="form-control" value="{{startDate.format('Y-m-d')}}"/>
            </div>
        </li>
        <li class="nav-item me-2">
            <div class="input-group">
                <div class="input-group-text">To</div>
                <input type="date" name="filter[end]" class="form-control" value="{{endDate.format('Y-m-d')}}"/>
            </div>  
        </li>
        <li class="nav-item">
            <button type="submit" class="btn btn-primary">Filter</button>
            <input type="reset" class="btn btn-primary" value="Reset"/>
        </li>
    </ul>
</form>
<div class="row mb-3">
    <div class="col-6">
        <div class="card text-bg-light mb-3">
            <div class="card-header">Sales</div>
            <div class="card-body">
                <h5 class="card-title">&euro;{{totalSales}}</h5>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card text-bg-light mb-3">
            <div class="card-header">Count</div>
            <div class="card-body">
                <h5 class="card-title">{{count}}</h5>
            </div>
        </div>
    </div>
    {% if days|length > 0 %}
	    <div class="col-6">
	        <div class="card text-bg-light mb-3">
	            <div class="card-header">Max count</div>
	            <div class="card-body">
	                <h5 class="card-title">{{max(days)}}</h5>
	            </div>
	        </div>
	    </div>
	    <div class="col-6">
	        <div class="card text-bg-light mb-3">
	            <div class="card-header">Min Count</div>
	            <div class="card-body">
	                <h5 class="card-title">{{min(days)}}</h5>
	            </div>
	        </div>
	    </div>
    {% endif %}
</div>
<div class="row mb-3">
    <div class="col">
        <canvas id="salesPerDayChart"></canvas>
    </div>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.js"></script>
    <script>
        const chartLabels = {% autoescape false %}{{days|keys|json_encode }}{% endautoescape %}

        const days = [{{days|join(',')}}]
        new Chart(document.getElementById('salesPerDayChart'), {
            type: 'bar',
            data: {
                labels: chartLabels,
                datasets: [{
                    label: 'sales / day',
                    data: days,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}