{% extends 'admin/skeleton.twig' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Report {{date.format('D j M Y')}}</h1>
    <div class="btn-toolbar">
        <a class="btn btn-primary me-2" href="/admin/predict?date={{prev.format('Y-m-d')}}">
            <i class="fa-solid fa-chevron-left"></i>
        </a>
        <a class="btn btn-primary me-4" href="/admin/predict?date={{next.format('Y-m-d')}}">
            <i class="fa-solid fa-chevron-right"></i>
        </a>
    </div>
</div>

<form class="row gx-2 align-items-center" method="get" autocomplete="off">
    <div class="col-auto">
        <div class="input-group">
            <div class="input-group-text">Date</div>
            <input type="date" name="date" class="form-control" value="{{start.format('Y-m-d')}}"/>
        </div>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Go</button>
    </div>
</form>
<hr/>
Total: <strong>{{prediction.sales}}&euro;</strong> /
{% if orders|length > 0 %}
	Cost per order <strong>{{ (total / (orders|length))|round(1, 'floor') }}</strong>
{% endif %}
</br>
Covers: <strong>{{coversAdults + coversMinors}} </strong> /
{% if coversAdults > 0 %}
	Cost per adult cover <strong>{{(total / coversAdults)|round(1, 'floor')}}</strong> /
{% endif %}
{% if coversMinors > 0 %}
	Cost per cover <strong>{{(total / (prediction.coversAdults + prediction.coversMinors))|round(1, 'floor')}}</strong>
{% endif %}
<br/>
<br/>
Fish weight: <strong>{{prediction.fishWeight / 1000}}Kg</strong>
<hr/>
<div class="row">
    {% for i,v in menuSections %}
	    <div class="col-sm-3 mb-3">
	    	<h5>{{v.menuSection.getTranslation('el').getName }} / {{v.count}} / {{v.sales }}&euro;</h5>
	    	{% for j,k in v.menuItems %}
                <p class="mb-1">{{k.menuItem.getTranslation('el').getName}} / {{k.count}} / {{k.weight}} / {{k.sales}}&euro;</p>
            {% endfor %}
	    </div>
	{% endfor %}
</div>
<hr/>
{% endblock %}