{% extends 'admin/skeleton.twig' %}

{% set activeNavLink = 'reservations' %}

{%  block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Reservations {{date.format('D j M Y')}}</h1>
    <div class="btn-toolbar">
       	<a class="btn btn-primary me-2" href="/admin/reservations?date={{prev.format('Y-m-d')}}">
	        <i class="fa-solid fa-chevron-left"></i>
	    </a>
	    <a class="btn btn-primary me-4" href="/admin/reservations?date={{next.format('Y-m-d')}}">
	        <i class="fa-solid fa-chevron-right"></i>
	    </a>
       	<a href="/admin/reservations/create" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i> New reservation
        </a>
    </div>
</div>
<div class="table-responsive">
	<table class="table table-striped">
    	<thead>
      		<tr>
      			<th>#</th>
      			<th>Name</th>
      			<th>Guests</th>
      			<th>Time</th>
      			<th>Message</th>
      			<th></th>
      		</tr>
    	</thead>
    	<tbody>
			{% for reservation in reservations %}
				<tr>
					<td>
						{{reservation.getId}}
						{% if reservation.getStatus == 'UNCONFIRMED' %}
							<span class="badge rounded-pill text-bg-danger">Unconfirmed</span>
						{% endif %}
					</td>
					<td>{{reservation.getName}}</td>
					<td>
						{{reservation.getAdults}}
						{% if reservation.getMinors > 0 %}
							+ {{reservation.getMinors}}
						{% endif %}
					</td>
					<td>{{reservation.getDateTime.format('H:i')}}</td>
					<td>{{reservation.getMessage}}</td>
					<td class="text-end">
						<a class="text-decoration-none" href="/admin/reservations/update?id={{reservation.getId}}">
							Update
						</a> |
						<a class="text-decoration-none" href="/admin/reservations/delete?id={{reservation.getId}}">
							Delete
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{%  endblock %}