{% extends 'admin/skeleton.twig' %}

{% set activeNavLink = 'scans' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Scans for {{date.format('D j M Y')}}</h1>
    <div class="btn-toolbar">
	    <a class="btn btn-primary me-2" href="/admin/scans?date={{prev.format('Y-m-d')}}">
	        <i class="bx bxs-chevron-left"></i>
	    </a>
	    <a class="btn btn-primary me-4" href="/admin/scans?date={{next.format('Y-m-d')}}">
	        <i class="bx bxs-chevron-right"></i>
	    </a>
       	<a href="/admin/scans/create" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i> <strong>N</strong>ew scan
        </a>
    </div>
</div>
<div class="table-responsive">
	<table class="table table-striped">
    	<thead>
            <tr>
                <th>Name</th>
                <th>In &rarr; Out</th>
                <th>Duration</th>
                <th>Salary</th>
                <th></th>
            </tr>
        </thead>
		<tbody>
            {% for scan in scans %}
            	<tr>
                    <td>
                        <a class="text-decoration-none" href="/admin/scans/user?id={{scan.getUser.getId}}">
                        	{{scan.getUser.getFullName}}
                        </a>
                    </td>
                    <td>{{scan.getCheckIn.format('H:i:s')}} &rarr; {{scan.getCheckOut.format('H:i:s')}}</td>
                    <td>{{scan.getInterval.format('%H:%I:%S')}}</td>
                    <td>{{scan.getSalary|round(1)}}&euro;</td>
                    <td>
                        <a class="text-decoration-none" href="/admin/scans/update?id={{scan.getId}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td>{{hours}}h:{{minutes}}m:{{seconds}}s</td>
                <td>{{salariesTotal|round(1)}}</td>
                <td></td>
            </tr>
		</tbody>
	</table>
</div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script>
        document.addEventListener('keyup', (event) => {
            let key = event.key;
            if (key == "n" || key == "N") { 
                window.location.href = '/admin/scans/create';
            }
        })
    </script>
{% endblock %}