{% extends 'admin/skeleton.twig' %}

{% set activeNavLink = 'supplies' %}

{% block content %}
<ol class="breadcrumb pt-3">
    <li class="breadcrumb-item">
        <a href="/admin/" class="text-decoration-none">
            <i class="bi bi-house"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="/admin/supplies" class="text-decoration-none">Προμήθειες</a>
    </li>
</ol>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1 mb-1 border-bottom">
    <h1>Προμήθειες</h1>
    <div class="btn-toolbar gap-2">
       	<a href="/admin/supplies/create" class="btn btn-primary">
            <i class="bi bi-plus-lg"></i>
        </a>
    </div>
</div>
<ul class="nav nav-pills flex-nowrap overflow-auto mb-3">
    {% for supplyGroup in supplyGroups|filter(sg => sg.getSupplies|length > 0) %}
        <li class="nav-item text-nowrap">
            <a class="nav-link {{loop.index == 1 ? 'ps-0' : ''}}" href="#supply-group-{{supplyGroup.getId}}">{{supplyGroup.getName}}</a>
        </li>
    {% endfor %}
</ul>
<div id="supply-groups-sortable">
{% for supplyGroup in supplyGroups|filter(sg => sg.getSupplies|length > 0) %}
	<div id="supply-group-{{supplyGroup.getId}}" data-id="{{supplyGroup.getId}}">
    <h2 style="cursor: grab;">{{supplyGroup.getName}}</h2>
	<table class="table table-responsive">
		<tbody>
			{% for supply in supplyGroup.getSupplies %}
				<tr>
      			    <td class="ps-4">
						<a class="text-decoration-none" href="/admin/supplies/update?id={{supply.getId}}">{{supply.getName}}</a>
                        {% if supply.getPrice > 0 %}
                            <span class="ms-2 text-muted">
                                &euro;{{supply.getPrice}} / {{supply.getPriceUnit}}
                            </span>
                        {% endif %}
					</td>
					
    			</tr>
			{% endfor %}
		</tbody>
	</table>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script>
        new Sortable(document.getElementById('supply-groups-sortable'), {
            handle: 'h2',
            animation: 150,
            onSort: function (evt) {
                const ids = [...evt.srcElement.querySelectorAll('[data-id]')].map(el => el.dataset.id);
                fetch('/admin/supply-groups/sort', {
                    method: 'POST',
                    body: JSON.stringify(ids),
                    headers: { 'Content-Type': 'application/json' }
                });
            }
        });
    </script>
{% endblock %}