{% extends 'admin/skeleton.twig' %}

{% set menu = menuItem.getMenuSection.getMenu %}
{% set activeNavLink = menu.getName %}

{% block content %}
<ol class="breadcrumb pt-3">
    <li class="breadcrumb-item">
        <a href="/admin/" class="text-decoration-none">
            <i class="bi bi-house"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="/admin/menus" class="text-decoration-none">Μενού</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/admin/menu?id={{menu.getId}}" class="text-decoration-none">{{menu.getName}}</a>
    </li>
</ol>
<div class="d-flex justify-content-between flex-fill mb-3 mt-3">
    <ul class="nav nav-tabs flex-grow-1 b-0">
        <li class="nav-item">
            <a class="nav-link active fs-5" href="">{{menuItem.getTranslation('el').getName}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fs-5" href="/admin/menu-items/statistics?id={{menuItem.getId}}">
                <i class="bi bi-graph-up-arrow"></i> Στατιστικά
            </a>
        </li>
    </ul>
    <div class="border-bottom ">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" >
                <i class="bi bi-gear"></i>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="/admin/menu-items/toggle-archive?id={{menu.getId}}">
                        {{menuItem.getIsArchived ? 'Επαναφορά' : 'Αρχειοθέτηση'}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<form method="post" autocomplete="off">
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Ενεργό</label>
		<div class="col-sm-10">
			<select class="form-select" name="isActive">
  				<option value="1" {{menuItem.getIsActive ? 'selected' : ''}}>Ναί</option>
  				<option value="0" {{menuItem.getIsActive ? '' : 'selected'}}>Όχι</option>
			</select>
    	</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Κατηγορία</label>
		<div class="col-sm-10">
			<select class="form-select" name="menuSection">
  				{% for menuSection in menuSections %}
  					<option value="{{menuSection.getId}}" {{menuItem.getMenuSection.getId == menuSection.getId ? 'selected' : ''}}>
  						{{menuSection.getTranslation('en').getName}}
  					</option>
  				{% endfor %}
			</select>
    	</div>
	</div>
	{% for language in languages %}
		<div class="row mb-3">
			<label class="col-sm-2 col-form-label">Όνομα [{{language.getIsoCode}}]</label>
			<div class="col-sm-10">
				<input
					type="text"
					class="form-control"
					name="translations[{{language.getId}}][name]"
					value="{{menuItem.getTranslation(language.getIsoCode).getName}}"
					required
				/>
			</div>
		</div>
	{% endfor %}
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Θέση</label>
		<div class="col-sm-10">
			<input type="number" min="1" step="1" class="form-control" name="position" value="{{menuItem.getPosition}}" required/>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Τιμή</label>
		<div class="col-sm-10">
            <div class="input-group">
                <span class="input-group-text">€</span>
                <input type="text" class="form-control" type="number" min="0" step="0.5" name="price" value="{{menuItem.getPrice}}">
                <span class="input-group-text">/</span>
                <select class="form-select" name="priceUnit">
                    <option value="item" {{menuItem.getPriceUnit == 'item' ? 'selected' : ''}}>Τεμάχιο</option>
                    <option value="kg" {{menuItem.getPriceUnit == 'kg' ? 'selected' : ''}}>Kg</option>
                </select>
            </div>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Ποτό</label>
		<div class="col-sm-10">
			<select class="form-select" name="isDrink">
  				<option value="1" {{menuItem.getIsDrink ? 'selected' : ''}}>Ναί</option>
  				<option value="0" {{menuItem.getIsDrink ? '' : 'selected'}}>Όχι</option>
			</select>
    	</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Track quantity</label>
		<div class="col-sm-10">
			<select class="form-select" name="trackAvailableQuantity">
  				<option value="0" {{menuItem.getTrackAvailableQuantity ? '' : 'selected'}}>No</option>
  				<option value="1" {{menuItem.getTrackAvailableQuantity ? 'selected' : ''}}>Yes</option>
			</select>
    	</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Εκτυπωτές</label>
		<div class="col-sm-10">
			<select class="form-select" name="printers[]" multiple>
				{% for printer in printers %}
					<option value="{{printer.getId}}" {{printer in menuItem.getPrinters ? 'selected' : ''}}>
						{{printer.getName}}
					</option>
				{% endfor %}
			</select>
		</div>
	</div>
    <div class="row mb-3">
		<label class="col-sm-2 col-form-label">Εξτρά</label>
		<div class="col-sm-10">
			{% for extra in menuItem.getExtras %}
				<div class="row mb-2">
		            <div class="extra-entry input-group">
                        <input type="text" class="form-control" name="extra[{{loop.index}}][name]" value="{{extra.getName}}" required/>
                        <span class="input-group-text">€</span>
                        <input
		                	type="number"
		                	step="0.5"
		                	class="form-control"
		                	name="extra[{{loop.index}}][price]"
		                	value="{{extra.getPrice}}"
		                	required
		                />
                        <button class="btn btn-outline-danger delete-extra confirm">
		                    <i class="bx bx-trash"></i>
		                </button>
                    </div>
		        </div>
		    {% endfor %}
			<a class="btn btn-success add-extra">
				<i class="bx bx-plus"></i>
			</a>
		</div>
	</div>
	<div class="row mb-5">
		<label class="col-sm-2 col-form-label">Πρόσθετα πεδία</label>
		<div class="col-sm-10">
			{% for field, value in menuItem.getCustomFields %}
				<div class="row mb-2">
		            <div class="customFields-entry input-group">
		                <input
		                	type="text"
		                	class="form-control"
		                	name="customFields[{{loop.index}}][field]"
		                	value="{{field}}"
		                	required
		                />
		                <span class="input-group-text">/</span>
		                <input
		                	type="text"
		                	class="form-control"
		                	name="customFields[{{loop.index}}][value]"
                            value="{{value}}"
                            required
                        />
                        <button class="btn btn-outline-danger delete-customFields confirm">
		                    <i class="bx bx-trash"></i>
		                </button>
		            </div>
		        </div>
		    {% endfor %}
			<a class="btn btn-success add-customFields">
				<i class="bx bx-plus"></i>
			</a>
		</div>
	</div>
	<hr/>
	<div class="row mb-3">
		<div class="col-sm-10 offset-sm-2">
			<button type="submit" class="btn btn-primary">Αποθήκευση</button>
		</div>
	</div>
</form>
{% endblock %}

{% block javascript %}
	{{parent()}}
    {{ include (
        'admin/handlebars.twig', 
            {blocks: {
                'extra': [
                    {element: 'input', inputType: 'text', name: 'name'}, 
                    {element: 'label', text: '€'}, 
                    {element: 'input', inputType: 'number', name: 'price'}
                ],
                'customFields': [
                    {element: 'input', inputType: 'text', name: 'field'}, 
                    {element: 'label', text: '/'}, 
                    {element: 'input', inputType: 'number', name: 'value'}
                ],
            }}
        ) 
    }}
    <script>
        $('#archive-switch').change(function () {
            console.log('lala');
            $(this).parents('form')[0].submit();
        })
    </script>
{% endblock %}