{% extends 'admin/skeleton.twig' %}

{% set activeNavLink = 'tables' %}

{% block content %}
<ol class="breadcrumb pt-3">
    <li class="breadcrumb-item">
        <a href="/admin/" class="text-decoration-none">
            <i class="bi bi-house"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="/admin/tables" class="text-decoration-none">Τραπέζια</a>
    </li>
</ol>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1 mb-3 border-bottom">
    <h1>Επεξεργασία</h1>
    <div class="btn-toolbar">
       	<a href="/admin/tables/delete?id={{table.getId}}" class="btn btn-danger confirm">
            <i class="bi bi-trash"></i>
        </a>
    </div>
</div>
{% if not (exception is null) %}
    <div class="alert alert-danger" role="alert">
        {{exception.getMessage}}
    </div>
{% endif %}
<form method="post" autocomplete="off">
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Ενεργό</label>
		<div class="col-sm-10">
			<select class="form-select" name="isActive">
  				<option value="1" {{table.getIsActive ? 'selected' :''}}>Ναί</option>
  				<option value="0" {{table.getIsActive ? '' :'selected'}}>Όχι</option>
			</select>
    	</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Όνομα</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="name" value="{{table.getName}}" required/>
    	</div>
	</div>
    <div class="row mb-3">
		<label class="col-sm-2 col-form-label">Θέση</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="position" value="{{table.getPosition}}" required/>
    	</div>
	</div>
    <hr/>
	<div class="row mb-3">
		<div class="col-sm-10 offset-sm-2">
			<button type="submit" class="btn btn-primary">Αποθήκευση</button>
		</div>
	</div>
</form>
{% endblock %}