{% extends 'admin/skeleton.twig' %}

{% set activeNavLink = 'supplies' %}

{% block content %}
<ol class="breadcrumb pt-3">
    <li class="breadcrumb-item">
        <a href="/admin/" class="text-decoration-none">
            <i class="bi bi-house"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="/admin/supplies" class="text-decoration-none">Προμήθειες</a>
    </li>
</ol>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1 mb-3 border-bottom">
    <h1 class="h2">Επεξεργασία</h1>
    <div class="btn-toolbar">
       	<a href="/admin/supplies/delete?id={{supply.getId}}" class="btn btn-danger confirm">
            <i class="bi bi-trash"></i>
        </a>
    </div>
</div>
<form method="post" autocomplete="off" action="">
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Όνομα</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="name" value="{{supply.getName}}"/>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Ομάδα</label>
		<div class="col-sm-10">
			<select class="form-select" name="supplyGroup">
  				{% for supplyGroup in supplyGroups %}
  					<option value="{{supplyGroup.getId}}" {{supply.getSupplyGroup.getId == supplyGroup.getId ? 'selected' : ''}}>
  						{{supplyGroup.getName}}
  					</option>
  				{% endfor %}
			</select>
    	</div>
	</div>
    <div class="row mb-3">
		<label class="col-sm-2 col-form-label">Τιμή</label>
		<div class="col-sm-10">
            <div class="input-group">
                <span class="input-group-text">€</span>
                <input type="text" class="form-control" type="number" min="0" step="0.5" name="price" value="{{supply.getPrice}}">
                <span class="input-group-text">/</span>
                <select class="form-select" name="priceUnit">
                    {% for priceUnit in priceUnits %}
                        <option value="{{priceUnit.value}}" {{supply.getPriceUnit == priceUnit.value ? 'selected' : ''}}>{{priceUnit.value}}</option>
                    {% endfor %}
                </select>
            </div>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Πρόσθετα πεδία</label>
		<div class="col-sm-10">
			{% for field, value in supply.getCustomFields %}
				<div class="row mb-2">
		            <div class="customFields-entry input-group">
		                <input
		                	type="text"
		                	class="form-control"
		                	name="customFields[{{loop.index}}][field]"
		                	value="{{field}}"
		                	required
		                />
		                <span class="input-group-text">/</span>
		                <input
		                	type="text"
		                	class="form-control"
		                	name="customFields[{{loop.index}}][value]"
                            value="{{value}}"
                            required
                        />
                        <button class="btn btn-outline-danger delete-customFields confirm">
		                    <i class="bi bi-trash"></i>
		                </button>
		            </div>
		        </div>
		    {% endfor %}
			<a class="btn btn-success add-customFields">
				<i class="bi bi-plus-lg"></i>
			</a>
		</div>
    </div>
	<hr/>
	<div class="row mb-3">
		<div class="col-sm-10 offset-sm-2">
			<button type="submit" class="btn btn-primary">Αποθήκευση</button>
		</div>
	</div>
</form>
{% endblock %}

{% block javascript %}
	{{parent()}}
    {{ include (
        'admin/handlebars.twig', 
            {blocks: {
                'customFields': [
                    {element: 'input', inputType: 'text', name: 'field'}, 
                    {element: 'label', text: '/'}, 
                    {element: 'input', inputType: 'number', name: 'value'}
                ],
            }}
        ) 
    }}
{% endblock %}