{% extends 'admin/skeleton.twig' %}

{% set activeNavLink = 'printers' %}

{% block content %}
<ol class="breadcrumb pt-3">
    <li class="breadcrumb-item">
        <a href="/admin/" class="text-decoration-none">
            <i class="bi bi-house"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="/admin/printers" class="text-decoration-none">Εκτυπωτές</a>
    </li>
</ol>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1 mb-3 border-bottom">
    <h1>Επεξεργασία</h1>
    <div class="btn-toolbar">
       	<a href="/admin/printers/delete?id={{printer.getId}}" class="btn btn-danger confirm">
            <i class="bi bi-trash"></i>
        </a>
    </div>
</div>
<form method="post" autocomplete="off">
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Ενεργός</label>
		<div class="col-sm-10">
			<select class="form-select" name="isActive">
  				<option value="1" {{printer.getIsActive ? 'selected' :''}}>Ναί</option>
  				<option value="0" {{printer.getIsActive ? '' :'selected'}}>Όχι</option>
			</select>
    	</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Όνομα</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="name" value="{{printer.getName}}" required/>
    	</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Τύπος</label>
		<div class="col-sm-10">
			{% for printerType in printerTypes %}
				<div class="form-check form-check-inline">
					<input 
						class="form-check-input" 
						type="radio" 
						id="printer-type-{{loop.index}}" 
						value="{{printerType.value}}" 
						name="printerType"
						{{printer.getPrinterType == printerType.value ? 'checked' : ''}}
					>
					<label class="form-check-label" for="printer-type-{{loop.index}}">{{printerType.value|replace({'_': ' '})|capitalize}}</label>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="row mb-3">
	    <label class="col-sm-2 col-form-label">Utility Printer</label>
	    <div class="col-sm-10">
	        <select class="form-select" name="isUtilityPrinter">
	            <option value="1" {{printer.getIsUtilityPrinter ? 'selected' : ''}}>Ναί</option>
	            <option value="0" {{printer.getIsUtilityPrinter ? '' : 'selected'}}>Όχι</option>
	        </select>
	    </div>
	</div>
    <hr/>
	<div class="row mb-3">
		<div class="col-sm-10 offset-sm-2">
			<button type="submit" class="btn btn-primary">Αποθήκευση</button>
		</div>
	</div>
</form>
{% endblock %}