{% extends 'admin/skeleton.twig' %}

{% set activeNavLink = menuSection.getMenu.getName %}

{% block content %}
<ol class="breadcrumb pt-3">
    <li class="breadcrumb-item">
        <a href="/admin/" class="text-decoration-none">
            <i class="bi bi-house"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="/admin/menus" class="text-decoration-none">Μενού</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/admin/menu?id={{menuSection.getMenu.getId}}" class="text-decoration-none">{{menuSection.getMenu.getName}}</a>
    </li>
</ol>
<div class="d-flex justify-content-between flex-fill mb-3 mt-3">
    <ul class="nav nav-tabs flex-grow-1 b-0">
        <li class="nav-item">
            <a class="nav-link active fs-5" href="">{{menuSection.getTranslation('el').getName}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fs-5" href="/admin/menu-sections/statistics?id={{menuSection.getId}}">
                <i class="bi bi-graph-up-arrow"></i> Στατιστικά
            </a>
        </li>
    </ul>
    <div class="border-bottom ">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" >
                <i class="bi bi-gear"></i>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#select-menu-modal">
                        <i class="bi bi-copy"></i> Αντιγραφή
                    </a>
                    <a class="dropdown-item confirm" href="/admin/menu-sections/delete?id={{menuSection.getId}}">
                        <i class="bi bi-trash"></i> Διαγραφή
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<form method="post" autocomplete="off">
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Ενεργό</label>
		<div class="col-sm-10">
			<select class="form-select" name="isActive">
  				<option vale="1" {{menuSection.getIsActive ? 'selected' : ''}}>Ναί</option>
  				<option value="0" {{menuSection.getIsActive ? '' : 'selected'}}>Όχι</option>
			</select>
    	</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Θέση</label>
		<div class="col-sm-10">
			<input 
                type="number" 
                min="1" 
                step="1" 
                class="form-control" 
                name="position" value="{{menuSection.getPosition}}" 
                required
            />
		</div>
	</div>
    {% for language in languages %}
		<div class="row mb-3">
			<label class="col-sm-2 col-form-label">Όνομα [{{language.getIsoCode}}]</label>
			<div class="col-sm-10">
				<input
					type="text"
					class="form-control" name="translations[{{language.getId}}][name]"
					value="{{menuSection.getTranslation(language.getIsoCode).getName}}"
					required
				/>
			</div>
		</div>
	{% endfor %}
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Εξτρά</label>
		<div class="col-sm-10">
			{% for extra in menuSection.getExtras %}
				<div class="row mb-2">
		            <div class="extra-entry input-group">
                        <input type="text" class="form-control" name="extra[{{loop.index}}][name]" value="{{extra.getName}}" required/>
                        <span class="input-group-text">€</span>
                        <input
		                	type="number"
		                	step="0.5"
		                	class="form-control"
		                	name="extra[{{loop.index}}][price]"
		                	value="{{extra.getPrice}}"
		                	required
		                />
                        <button class="btn btn-outline-danger delete-extra confirm">
		                    <i class="bi bi-trash"></i>
		                </button>
                    </div>
		        </div>
		    {% endfor %}
			<a class="btn btn-success add-extra">
				<i class="bi bi-plus-lg"></i>
			</a>
		</div>
    </div>
    <div class="row mb-3">
		<label class="col-sm-2 col-form-label">Πρόσθετα πεδία</label>
		<div class="col-sm-10">
			{% for field, value in menuSection.getCustomFields %}
				<div class="row mb-2">
		            <div class="customFields-entry input-group">
		                <input
		                	type="text"
		                	class="form-control"
		                	name="customFields[{{loop.index}}][field]"
		                	value="{{field}}"
		                	required
		                />
		                <span class="input-group-text">/</span>
		                <input
		                	type="text"
		                	class="form-control"
		                	name="customFields[{{loop.index}}][value]"
                            value="{{value}}"
                            required
                        />
                        <button class="btn btn-outline-danger delete-customFields confirm">
		                    <i class="bi bi-trash"></i>
		                </button>
		            </div>
		        </div>
		    {% endfor %}
			<a class="btn btn-success add-customFields">
				<i class="bi bi-plus-lg"></i>
			</a>
		</div>
    </div>
	<hr/>
	<div class="row mb-3">
		<div class="col-sm-10 offset-sm-2">
			<button type="submit" class="btn btn-primary">Αποθήκευση</button>
		</div>
	</div>
</form>
<div class="modal fade" id="select-menu-modal" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Επιλογή menu</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                {% for menu in menus %}
                    <div class="row gx-1">
                        <div class="col mb-2">
                            <a 
                                class="btn btn-primary w-100" 
                                href="/admin/menu-sections/copy?id={{menuSection.getId}}&target={{menu.getId}}"
                            >
                                {{menu.getName}}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Άκυρο</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
	{{parent()}}
    {{ include (
        'admin/handlebars.twig', 
            {blocks: {
                'extra': [
                    {element: 'input', inputType: 'text', name: 'name'}, 
                    {element: 'label', text: '€'}, 
                    {element: 'input', inputType: 'number', name: 'price'}
                ],
                'customFields': [
                    {element: 'input', inputType: 'text', name: 'field'}, 
                    {element: 'label', text: '/'}, 
                    {element: 'input', inputType: 'text', name: 'value'}
                ],
            }}
        ) 
    }}
{% endblock %}