{% extends 'admin/skeleton.twig' %}

{% set activeNavLink = 'suppliers' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{supplier.getName}}</h1>
</div>
<form method="post" autocomplete="off" action="">
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Όνομα</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="name" value="{{supplier.getName}}"/>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Διεύθυνση</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="address" value="{{supplier.getAddress}}"/>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Επάγγελμα</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="occupation" value="{{supplier.getOccupation}}"/>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">ΔΟΥ</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="taxOffice" value="{{supplier.getTaxOffice}}"/>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">ΑΦΜ</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="taxRegistrationNumber" value="{{supplier.getTaxRegistrationNumber}}"/>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Email</label>
		<div class="col-sm-10">
			<input type="email" class="form-control" name="emailAddress" value="{{supplier.getEmailAddress}}"/>
		</div>
	</div>
	<hr/>
	<div class="row mb-3">
		<div class="col-sm-10 offset-sm-2">
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</div>
</form>
{% endblock %}