{% extends 'admin/skeleton.twig' %}

{% set activeNavLink = 'menus' %}

{% block content %}
<!--<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{menuItem.getTranslation('el').getName}}</h1>
    <div class="btn-toolbar">
	    <a href="/admin/menu-items/clone?id={{menuItem.getId}}" class="btn btn-primary btn-lg me-2"><i class="bx bx-copy"></i></a>
	</div>
</div>-->
<ul class="nav nav-tabs mb-3 mt-3">
	<li class="nav-item">
    	<a class="nav-link active fs-4" href="">{{menuItem.getTranslation('el').getName}}</a>
  	</li>
  	<li class="nav-item">
    	<a class="nav-link fs-4" href="/admin/menu-items/statistics?id={{menuItem.getId}}">Στατιστικά</a>
  	</li>
</ul>
<form method="post" autocomplete="off" enctype="multipart/form-data">
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Archived</label>
		<div class="col-sm-10">
			<select class="form-select" name="isArchived">
  				<option value="1" {{menuItem.getIsArchived ? 'selected' : ''}}>Yes</option>
  				<option value="0" {{menuItem.getIsArchived ? '' : 'selected'}}>No</option>
			</select>
    	</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Active</label>
		<div class="col-sm-10">
			<select class="form-select" name="isActive">
  				<option value="1" {{menuItem.getIsActive ? 'selected' : ''}}>Yes</option>
  				<option value="0" {{menuItem.getIsActive ? '' : 'selected'}}>No</option>
			</select>
    	</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Menu section</label>
		<div class="col-sm-10">
			<select class="form-select" name="menuSection">
  				{% for menuSection in menuSections %}
  					<option value="{{menuSection.getId}}" {{menuItem.getMenuSection.getId == menuSection.getId ? 'selected' : ''}}>
  						{{menuSection.getTranslation('en').getName}}
  					</option>
  				{% endfor %}
			</select>
    	</div>
	</div>
	{% for language in languages %}
		<div class="row mb-3">
			<label class="col-sm-2 col-form-label">Name [{{language.getIsoCode}}]</label>
			<div class="col-sm-10">
				<input
					type="text"
					class="form-control"
					name="translations[{{language.getId}}][name]"
					value="{{menuItem.getTranslation(language.getIsoCode).getName}}"
					required
				/>
			</div>
		</div>
	{% endfor %}
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Position</label>
		<div class="col-sm-10">
			<input type="number" min="1" step="1" class="form-control" name="position" value="{{menuItem.getPosition}}" required/>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Price</label>
		<div class="col-sm-10">
			<input type="number" min="0" step="0.5" class="form-control" name="price" value="{{menuItem.getPrice}}"/>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Unit</label>
		<div class="col-sm-10">
			<select class="form-select" name="isPricePerKg">
				<option value="0" {{menuItem.getIsPricePerKg ? '' : 'selected'}}>Item</option>
				<option value="1" {{menuItem.getIsPricePerKg ? 'selected' : ''}}>Kg</option>
			</select>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Is drink</label>
		<div class="col-sm-10">
			<select class="form-select" name="isDrink">
  				<option value="0" {{menuItem.getIsDrink ? '' : 'selected'}}>No</option>
  				<option value="1" {{menuItem.getIsDrink ? 'selected' : ''}}>Yes</option>
			</select>
    	</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Track quantity</label>
		<div class="col-sm-10">
			<select class="form-select" name="trackAvailableQuantity">
  				<option value="0" {{menuItem.getTrackAvailableQuantity ? '' : 'selected'}}>No</option>
  				<option value="1" {{menuItem.getTrackAvailableQuantity ? 'selected' : ''}}>Yes</option>
			</select>
    	</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Stations</label>
		<div class="col-sm-10">
			<select class="form-select" name="stations[]" multiple>
				{% for station in stations %}
					<option value="{{station.getId}}" {{station in menuItem.getStations ? 'selected' : ''}}>
						{{station.getName}}
					</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Description</label>
		<div class="col-sm-10">
			<textarea class="form-control" rows="3" name="description">
				{{- menuItem.getDescription -}}
			</textarea>
		</div>
	</div>
	<div class="row mb-5">
		<label class="col-sm-2 col-form-label">Custom fields</label>
		<div class="col-sm-10">
			{% for field, value in menuItem.getCustomFields %}
				<div class="row custom-field-entry mb-2">
		            <div class="col-sm-5">
		                <input
		                	type="text"
		                	class="form-control"
		                	name="customFields[{{loop.index}}][field]"
		                	value="{{field}}"
		                	required
		                />
		            </div>
		            <div class="col-sm-5">
		                <textarea
		                	rows="3"
		                	class="form-control"
		                	name="customFields[{{loop.index}}][value]"
		                >
		                	{{- value -}}
		                </textarea>
		            </div>
		            <div class="col-sm-2">
		                <a class="btn btn-sm btn-danger delete-custom-field">
		                    <i class="bx bx-trash"></i>
		                </a>
		            </div>
		        </div>
		    {% endfor %}
			<a class="btn btn-sm btn-success add-custom-field">
				<i class="bx bx-plus"></i>
			</a>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Extras</label>
		<div class="col-sm-10">
			{% for extra in menuItem.getMenuItemExtras %}
				<div class="row extra-entry mb-2">
		            <div class="col-sm-5">
		                <input
		                	type="text"
		                	class="form-control"
		                	name="menuItemExtra[{{loop.index}}][name]"
		                	value="{{extra.getName}}"
		                	required
		                />
		            </div>
		            <div class="col-sm-5">
		                <input
		                	type="number"
		                	step="0.5"
		                	class="form-control"
		                	name="menuItemExtra[{{loop.index}}][price]"
		                	value="{{extra.getPrice}}"
		                	required
		                />
		            </div>
		            <div class="col-sm-2">
		                <a class="btn btn-sm btn-danger delete-extra">
		                    <i class="bx bx-trash"></i>
		                </a>
		            </div>
		        </div>
		    {% endfor %}
			<a class="btn btn-sm btn-success add-extra">
				<i class="bx bx-plus"></i>
			</a>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Public</label>
		<div class="col-sm-10">
			<select class="form-select" name="isPublic">
  				<option value="1" {{menuItem.getIsPublic ? 'selected' : ''}}>Yes</option>
  				<option value="0" {{menuItem.getIsPublic ? '' : 'selected'}}>No</option>
			</select>
    	</div>
	</div>
	<hr/>
	<div class="row mb-3">
		<div class="col-sm-10 offset-sm-2">
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</div>
</form>
{% endblock %}

{% block javascript %}
	{{parent()}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script id="extra-template" type="text/x-handlebars-template">
        <div class="row extra-entry mb-2">
            <div class="col-sm-5">
                <input
                	type="text"
                	class="form-control"
                	name="menuItemExtra[{% verbatim %}{{index}}{% endverbatim %}][name]"
                	required
                />
            </div>
            <div class="col-sm-5">
                <input
                	type="number"
                	step="0.5"
                	value="0"
                	class="form-control"
                	name="menuItemExtra[{% verbatim %}{{index}}{% endverbatim %}][price]"
                	required
                />
            </div>
            <div class="col-sm-2">
                <a class="btn btn-danger delete-extra">
                    <i class="bx bx-trash"></i>
                </a>
            </div>
        </div>
    </script>
    <script id="custom-field-template" type="text/x-handlebars-template">
        <div class="row custom-field-entry mb-2">
            <div class="col-sm-5">
                <input
                	type="text"
                	class="form-control"
                	name="customFields[{% verbatim %}{{index}}{% endverbatim %}][field]"
                	required
                />
            </div>
            <div class="col-sm-5">
                <textarea
                	rows="3"
                	class="form-control"
                	name="customFields[{% verbatim %}{{index}}{% endverbatim %}][value]"
                ></textarea>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-danger delete-custom-field">
                    <i class="bx bx-trash"></i>
                </a>
            </div>
        </div>
    </script>
    <script>
        $('.add-extra').click(function() {
            var source   = $('#extra-template').html();
            var template = Handlebars.compile(source);

            $(this).before(template({
                index: $('.extra-entry').length + 1
            }));
        });

        $('form').on('click', '.delete-extra', function() {
            $(this).parent().parent().remove();
        });

        $('.add-custom-field').click(function() {
            var source   = $('#custom-field-template').html();
            var template = Handlebars.compile(source);

            $(this).before(template({
                index: $('.custom-field-entry').length + 1
            }));
        });

        $('form').on('click', '.delete-custom-field', function() {
            $(this).parent().parent().remove();
        });
    </script>
{% endblock %}