{% extends 'users_app/skeleton.twig' %}

{% block breadcrumbs %}
    <a href="/users-app/"><i class="bi bi-house"></i></a> / Ώρες εργασίας
{% endblock %}

{% block users_app_content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h3">{{startOfMonth.format('M Y')}}</h2>
    <div class="btn-toolbar">
	    <a class="btn btn-primary me-2" href="/users-app/scans?date={{prev.format('Y-m-d')}}">
	        <i class="bi bi-chevron-left"></i>
	    </a>
	    <a class="btn btn-primary" href="/users-app/scans?date={{next.format('Y-m-d')}}">
	        <i class="bi bi-chevron-right"></i>
	    </a>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Ημέρα</th>
            <th>Έναρξη &rarr; Λήξη</th>
            <th>Διάρκεια</th>
        </tr>
    </thead>
    <tbody>
        {% set salary = 0 %}
        {% for scan in scans %}
            {% set salary = salary + scan.getSalary %}
        	<tr>
                <td>{{scan.getCheckIn.format('D j M Y')}}</td>
                <td>{{scan.getCheckIn.format('H:i:s')}} &rarr; {{scan.getCheckOut.format('H:i:s')}}</td>
                <td>
                	{{scan.getInterval.format('%H:%I:%S')}}
                	{% if scan.getInterval is not null and scan.getInterval.h == 0 %}
                        <i class="fa-solid fa-circle-exclamation"></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td>{{hours}}h:{{minutes}}m:{{seconds}}s / <strong>{{salary|round(2)}}&euro;</strong></td>
        </tr>
    </tbody>
</table>
{% endblock %}