{% extends 'app_skeleton.twig' %}

{% block pageCss %}
	<style>
		.mt-n1 {
  			margin-top: -0.25rem !important;
		}
	</style>
{% endblock %}

{% block content %}{% verbatim %}
<div id="app">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	    <h1>
	    	<a href="/users-app/" class="text-decoration-none">
                <i class="bi bi-fork-knife"></i>
            </a>
            / Take Away / &euro;{{totalPrice}}
	    </h1>
    	<div class="btn-toolbar">
	       	<a href="#" class="btn btn-lg btn-primary me-2 d-inline d-sm-none fw-bold" @click="showOptions = true;">
	            &ctdot;
	        </a>
	       	<button href="#" class="btn btn-lg btn-primary d-none d-sm-inline" @click="save" :disabled="savingOrder || order.orderEntries.length == 0">
	            <span class="spinner-border spinner-border-sm me-1" v-if="savingOrder"></span>Αποθήκευση
	        </button>
	    </div>
	</div>

	<div class="offcanvas offcanvas-start" :class="showOptions ? 'show' : ''" tabindex="-1">
  		<div class="offcanvas-header">
    		<h5 class="offcanvas-title">Επιλογές</h5>
    		<button type="button" class="btn-close" @click="showOptions = false"></button>
  		</div>
  		<div class="offcanvas-body">
  			<div class="row mb-2">
  				<div class="col-xs-12 mb-4">
			        <button class="btn btn-lg btn-primary w-100" @click="save" :disabled="savingOrder || order.orderEntries.length == 0">
			            <span class="spinner-border spinner-border-sm me-1" v-if="savingOrder"></span>Αποθήκευση
			        </button>
			    </div>
				<div class="col-xs-12 mb-2">
					<button type="button" class="btn btn-outline-primary btn-lg w-100" @click="showNotesModal = true">
						<span class="me-1">Σχόλια</span>
						<span v-if="order.notes.length > 0" class="fw-bold">*</span>
					</button>
				</div>
		    </div>
    	</div>
  	</div>
  	<div class="offcanvas-backdrop fade show" v-if="showOptions"></div>

	<div class="d-none d-sm-block">
		<div class="row gx-1 mb-2">
			<div class="col">
				<button type="button" class="btn btn-outline-primary btn-lg w-100" @click="showNotesModal = true">
					<span class="me-1">Σχόλια</span>
					<span v-if="order.notes.length > 0" class="fw-bold">*</span>
				</button>
			</div>
	    </div>
	</div>

	<div class="row gx-1 mb-2">
		<div class="sticky-top">
			<button
				type="button"
				class="btn btn-lg btn-primary w-100 mt-2 mb-2"
				@click="isMenuSectionsModalVisible = true"
			>
				Προσθήκη
			</button>
		</div>

		<div class="modal modal-lg" :class="isMenuSectionsModalVisible ? 'd-block' :''" tabindex="-1">
  			<div class="modal-dialog modal-fullscreen-sm-down">
    			<div class="modal-content">
      				<div class="modal-header">
        				<h5 class="modal-title">Επιλογή κατηγορίας</h5>
        				<button type="button" class="btn-close" @click="isMenuSectionsModalVisible = false"></button>
      				</div>
      				<div class="modal-body">
						<div class="row gx-1">
			        		<div class="col-sm-6 mb-2" v-for="menuSection in menuSections">
			        			<button
			        				type="button"
			        				class="btn btn-outline-primary btn-lg w-100"
			        				@click="activeMenuSection = menuSection; isMenuSectionsModalVisible = false"
			        			>
			        				{{getTranslation(menuSection, 'el').name}}
			        			</button>
			        		</div>
			        	</div>
      				</div>
      				<div class="modal-footer">
        				<button type="button" class="btn btn-lg btn-secondary" @click="isMenuSectionsModalVisible = false">
        					Κλείσιμο
        				</button>
      				</div>
    			</div>
  			</div>
		</div>

		<div class="modal modal-lg d-block" v-if="activeMenuSection != null">
  			<div class="modal-dialog modal-fullscreen-sm-down">
    			<div class="modal-content">
      				<div class="modal-header">
        				<h5 class="modal-title">Επιλογή πιάτου</h5>
        				<button
        					type="button"
        					class="btn-close"
        					@click="activeMenuSection = null; isMenuSectionsModalVisible = false"
        				></button>
      				</div>
      				<div class="modal-body">
						<div class="row gx-1">
			        		<div class="col-sm-6 mb-2" v-for="menuItem in activeMenuSection.menuItems">
			        			<div class="btn-group w-100">
  									<button v-if="menuItem.isPricePerKg"
  										type="button"
  										class="btn btn-lg btn-outline-primary w-75"
  										@click="showMenuItemOptionsModal(menuItem)"
										:disabled="menuItem.trackAvailableQuantity && menuItem.availableQuantity == 0"
  									>
  										{{getTranslation(menuItem, 'el').name}}
  										<span class="text-body-secondary">(&euro;{{menuItem.price}}/Kg)</span>
  									</button>
  									<button v-else
  										type="button"
  										class="btn btn-lg btn-outline-primary w-75"
  										@click="
	  										addOrderEntry({
	  											menuItem: menuItem,
	  											timing: isDrink(menuItem) ? 6 : 1,
	  											family: 1,
	  											notes: '',
	  											orderEntryExtras: []
	  										});
	  									"
										:disabled="menuItem.trackAvailableQuantity && menuItem.availableQuantity == 0"
  									>
  										{{getTranslation(menuItem, 'el').name}}
  										<span class="text-body-secondary">(&euro;{{menuItem.price}})</span>
  										<span
  											v-if="menuItem.trackAvailableQuantity && menuItem.availableQuantity <= 7"
  											class="badge rounded-pill text-bg-danger ms-1"
  										>
  											{{menuItem.availableQuantity}}
  										</span>
  									</button>
  									<button
  										type="button"
  										class="btn btn-lg btn-outline-primary w-25"
  										@click="showMenuItemOptionsModal(menuItem)"
										:disabled="menuItem.trackAvailableQuantity && menuItem.availableQuantity == 0"
  									>
  										<span class="fw-bold">&ctdot;</span>
  									</button>
								</div>
			        		</div>
			        	</div>
      				</div>
      				<div class="modal-footer">
        				<button
        					type="button"
        					class="btn btn-lg btn-secondary"
        					@click="activeMenuSection = null; isMenuSectionsModalVisible = true"
        				>
        					Πίσω
        				</button>
      				</div>
    			</div>
  			</div>
		</div>

		<div class="modal modal-lg d-block" v-if="newMenuItem != null">
  			<div class="modal-dialog modal-fullscreen-sm-down">
    			<div class="modal-content">
      				<div class="modal-header">
        				<h5 class="modal-title">Επιλογές</h5>
        				<button
        					type="button"
        					class="btn-close"
        					@click="newMenuItem = null; activeMenuSection = null; isMenuSectionsModalVisible = false"
        				></button>
      				</div>
      				<div class="modal-body">
						<div class="mb-3" v-if="newMenuItem.isPricePerKg">
							<label class="form-label">Βάρος (γρ)</label>
							<input class="form-control" type="number" min="50" step="1" v-model="newOrderEntry.weight"/>
						</div>
						<div class="form-check form-control-lg mb-2" v-for="extra in newMenuItem.extras">
  							<label class="form-check-label w-100 fs-5">
		  						<input
		  							class="form-check-input"
		  							type="checkbox"
		  							:value="extra"
		  							v-model="newOrderEntry.orderEntryExtras"
		  						>
			    				{{extra.name}} <span v-if="extra.price != 0">(&euro;{{extra.price}})</span>
  							</label>
						</div>
						<div class="mb-3">
							<label class="form-label">Σχόλια</label>
  							<textarea
  								class="form-control"
  								rows="2"
  								v-model="newOrderEntry.notes"
  							></textarea>
						</div>
      				</div>
      				<div class="modal-footer">
      					<button
        					type="button"
        					class="btn btn-secondary btn-lg"
        					@click="newMenuItem = null"
        				>Πίσω</button>
        				<button
        					type="button"
        					class="btn btn-primary btn-lg"
        					@click="
        						newOrderEntry.menuItem = newMenuItem;
        						addOrderEntry(newOrderEntry);
        						newMenuItem = null;
        						activeMenuSection = null;
        						isMenuSectionsModalVisible = true;
        						newOrderEntry = {notes:'', orderEntryExtras: []};
        					"
        				>Ok</button>
      				</div>
    			</div>
  			</div>
		</div>

		<div class="modal modal-lg d-block" v-if="activeOrderEntry != null">
  			<div class="modal-dialog modal-fullscreen-sm-down">
    			<div class="modal-content">
      				<div class="modal-header">
        				<h5 class="modal-title">Επιλογές</h5>
        				<button
        					type="button"
        					class="btn-close"
        					@click="activeOrderEntry = null"
        				></button>
      				</div>
      				<div class="modal-body">
						<div class="mb-3" v-if="activeOrderEntry.menuItem.isPricePerKg">
							<label class="form-label">Βάρος (γρ)</label>
							<input class="form-control" type="number" min="50" step="1" v-model="activeOrderEntry.weight"/>
						</div>
						<div class="form-check form-control-lg mb-2" v-for="extra in activeOrderEntry.menuItem.extras">
  							<label class="form-check-label w-100 fs-5">
		  						<input
		  							class="form-check-input"
		  							type="checkbox"
		  							:value="extra"
		  							v-model="activeOrderEntry.orderEntryExtras"
		  						>
								{{extra.name}} <span v-if="extra.price != 0">(&euro;{{extra.price}})</span>
  							</label>
						</div>
						<div class="mb-3">
							<label class="form-label">Σχόλια</label>
  							<textarea
  								class="form-control form-control-lg"
  								rows="2"
  								v-model="activeOrderEntry.notes"
  							></textarea>
						</div>
      				</div>
      				<div class="modal-footer">
      					<button
        					type="button"
        					class="btn btn-secondary btn-lg"
        					@click="activeOrderEntry = null"
        				>Πίσω</button>
        				<button
        					type="button"
        					class="btn btn-primary btn-lg"
        					@click="activeOrderEntry = null"
        				>Ok</button>
      				</div>
    			</div>
  			</div>
		</div>

		<div v-for="(n, i) in 7">
			<div class="mb-1 p-1 ps-2 pe-2" v-if="filteredEntries(i).length > 0">
				<div
					v-for="orderEntry in filteredEntries(i)"
					@click="activeOrderEntry = orderEntry"
				>
		  			<div class="mb-2 d-flex w-100 justify-content-between">
		      			<div class="fs-5">
		      				{{orderEntry.quantity}} &times;
		      				{{getTranslation(orderEntry.menuItem, 'el').name}}
		      				/ &euro;{{calculateOrderEntryPrice(orderEntry)}}
		      			</div>
		      			<div>
		      				<button
		      					type="button"
		      					class="btn btn-secondary me-2"
		      					@click.stop="if (orderEntry.quantity > 1) { orderEntry.quantity--; } else { deleteOrderEntry(orderEntry.index) }"
		      				>
			      				<span class="fw-bold">&#x2212;</span>
			      			</button>
			      			<button
			      				type="button"
			      				class="btn btn-secondary"
			      				@click.stop="orderEntry.quantity++"
			      			>
			      				<span class="fw-bold">&#x002B;</span>
			      			</button>
			      		</div>
		    		</div>
		    		<div class="mt-n1 ps-3">
		    			<div v-if="orderEntry.weight > 0">
		    				βάρος <span class="fw-bold">{{orderEntry.weight}}gr</span>
		    			</div>
		    			<div v-if="orderEntry.orderEntryExtras.length > 0">
		    				<span v-for="(extra, index) in orderEntry.orderEntryExtras">
			    				<span>{{extra.name}}</span><span v-if="index != orderEntry.orderEntryExtras.length - 1"> / </span>
			    			</span>
		    			</div>
		    			<div v-if="orderEntry.notes.length > 0">{{orderEntry.notes}}</div>
		    		</div>
		  		</div>
			</div>
			<hr v-if="filteredEntries(i).length > 0"/>
		</div>
	</div>

	<!-- Modals -->
	<div class="row gx-1 mb-2">
		<div class="modal" tabindex="-1" :class="showNotesModal ? 'd-block' : ''">
  			<div class="modal-dialog modal-lg modal-fullscreen-sm-down">
    			<div class="modal-content">
      				<div class="modal-header">
        				<h5 class="modal-title">Σχόλια</h5>
        				<button type="button" class="btn-close" @click="showNotesModal = false"></button>
      				</div>
      				<div class="modal-body">
			        	<div class="row">
			        		<textarea class="form-control" v-model="order.notes" rows="3"></textarea>
			        	</div>
      				</div>
      				<div class="modal-footer">
        				<button type="button" class="btn btn-secondary btn-lg" @click="showNotesModal = false">Κλείσιμο</button>
      				</div>
    			</div>
  			</div>
		</div>
	</div>
	<!-- End modals -->

</div>
{% endverbatim %}{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script src="/assets/js/vue.global.prod.js"></script>
	<script src="/assets/js/axios.min.js"></script>
	<script src="/assets/js/lodash.min.js"></script>
	<script>
		vueApp = Vue.createApp({
		    data() {
		    	return {
		    		isMenuSectionsModalVisible: false,
		    		showNotesModal: false,
		    		showOptions: false,
		    		savingOrder: false,

		    		activeMenuSection: null,
		    		newMenuItem: null,
		    		activeOrderEntry: null,

		    		menuSections: [],
		    		stations: [],

		    		newOrderEntry: {
		    			orderEntryExtras: [],
		    			notes: '',
		    			weight: null
		    		},

		    		order: {
		    			notes: '',
		    			orderEntries: []
		    		}
		    	}
		    },
		    watch: {
		        'stations': {
		        	handler: function () {
			        	let isTrue = _.reduce(this.stations, function(result, station) {
	  						return result && station.printOk;
						}, true);

						if (isTrue) {
							window.location.href = '/users-app/';
						}
					},
					deep: true,
		            immediate: false
		        }
		    },
		    mounted() {
		    	axios({
                    url: '/admin/graph-ql?useCachedResults=true',
                    method: 'post',
                    data: `{
                        menuSections (menu: "Self delivery") {
                            id, translations { name, language },
                            menuItems: activeMenuItems {
                            	id, trackAvailableQuantity, availableQuantity, isPricePerKg, isDrink, price, translations { name, language }, menuPosition,
                            	extras: allExtras {
                            		id, name, price
                            	},
                            	stations { id, name, printerAddress }
                            }
                        },
                        stations {
                        	id, name, printerAddress, hasReceiptPrinter
                        }
                    }`
                }).then(response => {
                    this.menuSections = response.data.data.menuSections;
                    this.stations = response.data.data.stations;
                });
		    },
		    computed: {
		    	totalPrice() {
		    		let totalPrice = 0;
		    		_.each(this.order.orderEntries, orderEntry => {
			    		totalPrice += this.calculateOrderEntryPrice(orderEntry);
			    	});
		    		return _.round(totalPrice, 1);
		    	}
		    },
		    methods: {
		    	getTranslation(object, language) {
		    		return _.find(object.translations, t => t.language == language);
		    	},
		    	getHm() {
		    		const now = new Date();
		    		return `${now.getHours()}:${now.getMinutes() < 10 ? '0' + now.getMinutes() : now.getMinutes()}\n`;
		    	},
		    	save() {
		    		if (this.order.orderEntries.length == 0 || this.savingOrder) return;
		    		this.savingOrder = true;

		    		axios.post('/users-app/take-out', this.order)
                    .then(response => {
                        if (response.data == 'ok') {
                        	this.printOrder();
                        }
                    }).catch(error => {
    					alert(error);
    					this.savingOrder = false;
  					});
		    	},
		    	printOrder() {
		    		_.each(this.stations, station => {
		    			let printer = new epson.ePOSBuilder();

		    			printer.addCommand('\x1b\x74\x26');
		    			printer.addFeedLine(2);
		    			printer.addTextAlign(printer.ALIGN_CENTER);
		    			printer.addTextSmooth(true);
		    			printer.addText(this.getHm());
		    			printer.addTextFont(printer.FONT_B);
		    			printer.addTextAlign(printer.ALIGN_CENTER);
		    			printer.addFeedLine(1);
		    			printer.addTextSize(2, 2);
		    			printer.addText('--- TAKE AWAY ---');
		    			printer.addFeedLine(2);
		    			printer.addTextSize(1, 1);

		    			if (this.order.notes.length > 0) {
		    				printer.addFeedLine(1);
		    				printer.addText(`***\n${this.order.notes}\n***`);
		    			}
		    			printer.addFeedLine(2);
		    			printer.addCommand(_.repeat('-', 32));
		    			printer.addFeedLine(1);
		    			printer.addTextAlign(printer.ALIGN_LEFT);
		    			printer.addTextLineSpace(40);

		    			let orderEntriesCount = 0;
		    			for (let i = 0; i < 7; i++) {
		    				_.each(this.orderedEntries(i), orderEntry => {
		    					let index = _.findIndex(orderEntry.menuItem.stations, s => s.id == station.id);

		    					if (index != -1 || station.hasReceiptPrinter) {
		    						orderEntriesCount++;
		    						let quantity = orderEntry.quantity;
		    						let name = this.getTranslation(orderEntry.menuItem, 'el').name;

		    						let weight = '';
		    						if (orderEntry.weight != null) {
		    							weight = `${orderEntry.weight / 1000}Kg`;
		    						}

		    						if (station.hasReceiptPrinter) {
		    							let priceBlock = '€' + this.calculateOrderEntryPrice(orderEntry);
		    							printer.addText(`${quantity} x ${name} (${priceBlock}) ${weight}\n`);
		    						} else {
		    							printer.addText(`${quantity} \xd7 ${name} ${weight}\n`);
		    						}

		    						_.each(orderEntry.orderEntryExtras, extra => {
		    							printer.addText(`\t${extra.name}\n`);
		    						});

		    						if (orderEntry.notes.length > 0) {
		    							printer.addText(`\t${orderEntry.notes}\n`);
		    						}
		    					}
		    				});
		    			}

		    			printer.addFeedLine(10);
		    			printer.addCut(printer.CUT_FEED);

		    			if (orderEntriesCount > 0) {
		    				station.printOk = false;
		    				var address = `https://${station.printerAddress}/cgi-bin/epos/service.cgi?devid=local_printer&timeout=10000`;
		    				var epos = new epson.ePOSPrint(address);
		    				epos.onreceive = function(res) {
		    					if (!res.success) {
		    						alert(`A print error occurred. Station ${station.name}`);
		    					} else {
		    						station.printOk = true;
		    					}
		    				};
		    				epos.send(printer.toString());
		    			} else {
		    				station.printOk = true;
		    			}
		    		});
		    	},
		    	showMenuItemOptionsModal(menuItem) {
		    		this.newMenuItem = menuItem;
		    		this.newOrderEntry.timing = this.isDrink(menuItem) ? 6 : 1;
		    		this.newOrderEntry.family = 1;
		    		this.newOrderEntry.notes = '';
		    		if (menuItem.isPricePerKg) {
		    			this.newOrderEntry.weight = '';
		    		}
		    	},
		    	addOrderEntry(newOrderEntry) {
		    		let index = this.order.orderEntries.findIndex(
		    			orderEntry =>
		    				orderEntry.menuItem.id == newOrderEntry.menuItem.id
		    				&& orderEntry.timing == newOrderEntry.timing
		    				&& orderEntry.notes == newOrderEntry.notes
		    				&& _.isEqual(orderEntry.orderEntryExtras, newOrderEntry.orderEntryExtras)
		    		);

		    		if (index != -1) {
		    			this.order.orderEntries[index].quantity++;
		    		} else {
		    			this.order.orderEntries.push({
			    			index: this.order.orderEntries.length,
			    			quantity: 1,
			    			family: 1,
			    			timing: newOrderEntry.timing,
			    			menuItem: newOrderEntry.menuItem,
			    			orderEntryExtras: newOrderEntry.orderEntryExtras,
			    			notes: newOrderEntry.notes,
			    			weight: newOrderEntry.weight ?? null,
			    			price: this.calculateOrderEntryPrice(newOrderEntry)
			    		});
		    		}
		    	},
		    	deleteOrderEntry(i) {
		    		let index = this.order.orderEntries.findIndex(e => e.index == i);
		    		this.order.orderEntries.splice(index, 1);
		    	},
		    	filteredEntries(timing) {
		    		return this.order.orderEntries.filter(e => e.timing == timing);
		    	},
		    	orderedEntries(step) {
		    		let entries = this.order.orderEntries.filter(e => e.timing == step);
		    		return _.sortBy(entries, [o => o.menuItem.menuPosition]);
		    	},
		    	isDrink(menuItem) {
		    		return menuItem.isDrink;
		    	},
		    	calculateOrderEntryPrice(orderEntry) {
		    		let price = orderEntry.menuItem.price;

		    		if (orderEntry.menuItem.isPricePerKg) {
		    			let weight = orderEntry.weight;
		    			if (weight < 1000) {
		    				price -= price * ((1000 - weight) / 1000);
		    			} else {
		    				price += price * ((weight - 1000) / 1000);
		    			}
		    		}

		    		_.each(orderEntry.orderEntryExtras, extra => {
		    			price += extra.price;
		    		});

		    		return _.round(price * orderEntry.quantity, 1);
		    	},
		    }
		}).mount('#app');
	</script>
{% endblock %}
