{% extends 'app_skeleton.twig' %}

{% block pageCss %}
	<style>
		.btn:active {
			transform: scale(0.93);
			transition: transform 0.08s ease-in-out;
		}
	</style>
{% endblock %}

{% block content %}{% verbatim %}
<div id="app">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	    <h1>
	    	<a href="/orders-app/" class="text-decoration-none"><i class="bi bi-fork-knife"></i></a> /
	    	<a class="text-primary text-decoration-none" v-if="order.table != null" @click="order.table = null">{{order.table.name}}</a>
	    	/ <a class="text-primary text-decoration-none" v-if="order.adults != null"  @click="order.adults = null">{{order.adults}}</a>
			/ <a class="text-primary text-decoration-none" v-if="order.minors != null" @click="order.minors = null">{{order.minors}} </a>
			/ &euro;{{totalPrice}}
	    </h1>
    	<div class="btn-toolbar">
	       	<a href="#" class="btn btn-lg btn-outline-secondary me-2 d-inline d-sm-none" @click="showOptions = true;">
	            <span class="fw-bold">&ctdot;</span>
	        </a>
	       	<button class="btn btn-lg btn-primary d-none d-sm-inline" @click="save">
	            <span class="spinner-border spinner-border-sm me-1" v-if="savingOrder"></span>
	            <span class="d-none d-sm-inline">Αποθήκευση</span>
	        </button>
	    </div>
	</div>

	<div class="offcanvas offcanvas-start" :class="showOptions ? 'show' : ''" tabindex="-1">
  		<div class="offcanvas-header">
    		<h5 class="offcanvas-title" id="offcanvasExampleLabel">Επιλογές</h5>
    		<button type="button" class="btn-close" @click="showOptions = false"></button>
  		</div>
  		<div class="offcanvas-body">
  			<div class="row mb-2">
  				<div class="col-xs-12 mb-4">
			        <button class="btn btn-lg btn-primary w-100" @click="save" :disabled="savingOrder">
			            <span class="spinner-border spinner-border-sm me-1" v-if="savingOrder"></span>Αποθήκευση
			        </button>
			    </div>
				<div class="col-xs-12 mb-2">
					<button type="button" class="btn btn-outline-primary btn-lg w-100" @click="showNotesModal = true">
						<span class="me-1">Σχόλια</span>
						<span v-if="newOrderEntryGroup.notes.length > 0" class="fw-bold">*</span>
					</button>
				</div>
		        <div class="col-xs-12 mb-2">
		        	<button type="button" class="btn btn-outline-primary btn-lg w-100" @click="timing = null">
						<span class="me-1">Χρόνος</span>
						<span v-if="timing != null" class="fw-bold">{{timing}}</span>
					</button>
		        </div>
		        <div class="col-xs-12 mb-2">
		        	<button type="button" class="btn btn-outline-primary btn-lg w-100" @click="family = null">
						<span class="me-1">Οικογένεια</span>
						<span v-if="family != null" class="fw-bold">{{family}}</span>
					</button>
		        </div>
		    </div>
    	</div>
  	</div>
  	<div class="offcanvas-backdrop fade show" v-if="showOptions"></div>

	<div class="d-none d-sm-block">
		<div class="row gx-1 mb-2">
			<div class="col">
				<button type="button" class="btn btn-outline-primary btn-lg w-100" @click="showNotesModal = true">
					<span class="me-1">Σχόλια</span>
					<span v-if="newOrderEntryGroup.notes.length > 0" class="fw-bold">*</span>
				</button>
			</div>
			<div class="col">
	        	<button type="button" class="btn btn-outline-primary btn-lg w-100" @click="timing = null">
					<span class="me-1">Χρόνος</span>
					<span class="fw-bolder" v-if="timing != null">{{timing}}</span>
				</button>
	        </div>
	        <div class="col">
	        	<button type="button" class="btn btn-outline-primary btn-lg w-100" @click="family = null">
					<span class="me-1">Οικογένεια</span>
					<span class="fw-bolder" v-if="family != null">{{family}}</span>
				</button>
	        </div>
		</div>
	</div>

	<div class="sticky-top">
		<button
			type="button"
			class="btn btn-lg btn-primary w-100 mb-3 mt-0"
			@click="isMenuSectionsModalVisible = true"
		>
			Προσθήκη
		</button>
	</div>

	<div class="modal" tabindex="-1" :class="order.table == null ? 'd-block' : ''">
  		<div class="modal-dialog modal-lg modal-fullscreen-sm-down">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title">Tραπέζι</h5>
      			</div>
      			<div class="modal-body">
		        	<div class="row gx-1" v-for="(n, i) in 7">
		        		<div class="col mb-2" v-for="table in filteredTables(i)">
		        			<button
		        				type="button"
		        				class="btn btn-outline-primary btn-lg w-100"
		        				@click="order.table = table;"
		        				:disabled="activeOrders.some(o => o.table && o.table.id == table.id)"
		        			>
		        				{{table.name}}
		        			</button>
		        		</div>
		        	</div>
		        	<div class="row gx-1">
		        		<div v-for="table in tables">
			        		<div class="col mb-2" v-if="table.name == 'Take away'">
			        			<button
			        				type="button"
			        				class="btn btn-outline-primary btn-lg w-100"
			        				@click="order.table = table;"
			        			>
			        				{{table.name}}
			        			</button>
			        		</div>
			        	</div>
		        	</div>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="modal" tabindex="-1" :class="order.table != null && order.adults == null ? 'd-block' : ''">
  		<div class="modal-dialog modal-lg modal-fullscreen-sm-down">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title">Ενήλικες</h5>
      			</div>
      			<div class="modal-body">
		        	<div class="row gx-1">
		        		<div class="col-sm-3 mb-2" v-for="n in 25">
		        			<button
		        				type="button"
		        				class="btn btn-outline-primary btn-lg w-100"
		        				@click="order.adults = n;"
		        			>
		        				{{n}}
		        			</button>
		        		</div>
		        	</div>
      			</div>
    		</div>
  		</div>
	</div>

	<div
		class="modal"
		tabindex="-1"
		:class="order.table != null && order.adults != null && order.minors == null ? 'd-block' : ''">
  		<div class="modal-dialog modal-lg modal-fullscreen-sm-down">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title">Aνήλικοι</h5>
      			</div>
      			<div class="modal-body">
		        	<div class="row gx-1">
		        		<div class="col-sm-3 mb-2" v-for="n in 25">
		        			<button
		        				type="button"
		        				class="btn btn-outline-primary btn-lg w-100"
		        				@click="order.minors = n;"
		        			>
		        				{{n}}
		        			</button>
		        		</div>
		        	</div>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="modal" tabindex="-1" :class="showNotesModal ? 'd-block' : ''">
  		<div class="modal-dialog modal-lg modal-fullscreen-sm-down">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title">Σχόλια</h5>
        			<button type="button" class="btn-close" @click="showNotesModal = false"></button>
      			</div>
      			<div class="modal-body">
		        	<div class="row gx-1">
		        		<textarea class="form-control" v-model="newOrderEntryGroup.notes" rows="3"></textarea>
		        	</div>
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-secondary btn-lg" @click="showNotesModal = false">Κλείσιμο</button>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="modal" tabindex="-1" :class="timing == null ? 'd-block' : ''">
  		<div class="modal-dialog modal-lg modal-fullscreen-sm-down">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title">Επιλογή χρόνου</h5>
      			</div>
      			<div class="modal-body">
		        	<div class="row gx-1">
		        		<div class="col-sm-12 mb-2">
		        			<div class="col-sm-12 mb-2" v-for="n in 5">
		        				<button
		        					type="button"
		        					class="btn btn-outline-primary btn-lg w-100"
		        					@click="timing = n;"
		        				>
		        					{{n}}
		        				</button>
		        			</div>
		        		</div>
		        	</div>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="modal" tabindex="-1" :class="family == null ? 'd-block' : ''">
  		<div class="modal-dialog modal-lg modal-fullscreen-sm-down">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title">Επιλογή οικογένειας</h5>
      			</div>
      			<div class="modal-body">
		        	<div class="row gx-1">
		        		<div class="col-sm-12 mb-2" v-for="n in 12">
		        			<button
		        				type="button"
		        				class="btn btn-outline-primary btn-lg w-100"
		        				@click="family = n;"
		        			>
		        				{{n}}
		        			</button>
		        		</div>
		        	</div>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="modal modal-lg" :class="isMenuSectionsModalVisible ? 'd-block' :''" tabindex="-1">
  		<div class="modal-dialog modal-fullscreen-sm-down">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title">Επιλογή κατηγορίας</h5>
        			<button type="button" class="btn-close" @click="isMenuSectionsModalVisible = false"></button>
      			</div>
      			<div class="modal-body">
					<div class="row gx-1">
		        		<div class="col-sm-6 mb-2" v-for="menuSection in menuSections">
		        			<button
		        				type="button"
		        				class="btn btn-outline-primary btn-lg w-100"
		        				@click="activeMenuSection = menuSection;isMenuSectionsModalVisible = false "
		        			>
		        				{{getTranslation(menuSection, 'el').name}}
		        			</button>
		        		</div>
		        	</div>
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-secondary" @click="isMenuSectionsModalVisible = false">
        				Κλείσιμο
        			</button>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="modal modal-lg d-block" v-if="activeMenuSection != null">
	  	<div class="modal-dialog modal-fullscreen-sm-down">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title">Επιλογή πιάτου</h5>
        			<button
        				type="button"
        				class="btn-close"
        				@click="activeMenuSection = null;isMenuSectionsModalVisible = false"
        			></button>
      			</div>
      			<div class="modal-body">
					<div class="row gx-1">
		        		<div class="col-sm-6 mb-2" v-for="menuItem in activeMenuSection.menuItems">
		        			<div class="btn-group w-100">
  								<button v-if="menuItem.priceUnit == 'kg'"
  									type="button"
  									class="btn btn-lg btn-outline-primary w-75"
  									@click="showMenuItemOptionsModal(menuItem)"
									:disabled="menuItem.trackAvailableQuantity && menuItem.availableQuantity == 0"
  								>
  									{{getTranslation(menuItem, 'el').name}}
  									<span class="text-body-secondary">(&euro;{{menuItem.price}}/Kg)</span>
  								</button>
  								<button v-else
  									type="button"
  									class="btn btn-lg btn-outline-primary w-75"
  									@click="
	  									addOrderEntry({
	  										menuItem: menuItem,
	  										timing: isDrink(menuItem) ? 6 : isBread(menuItem) ? 0 : timing,
	  										family: family,
	  										notes: '',
	  										orderEntryExtras: []
	  									});
	  								"
									:disabled="menuItem.trackAvailableQuantity && menuItem.availableQuantity == 0"
  								>
  									{{getTranslation(menuItem, 'el').name}} <span class="text-body-secondary">(&euro;{{menuItem.price}})</span>
  									<span
  										v-if="menuItem.availableQuantity <= 7"
  										class="badge rounded-pill text-bg-danger ms-1"
  									>
  										{{menuItem.availableQuantity}}
  									</span>
  								</button>
  								<button
  									type="button"
  									class="btn btn-lg btn-outline-primary w-25"
  									@click="showMenuItemOptionsModal(menuItem)"
									:disabled="menuItem.trackAvailableQuantity && menuItem.availableQuantity == 0"
  								>
  									<span class="fw-bold">&ctdot;</span>
  								</button>
							</div>
		        		</div>
		        	</div>
      			</div>
      			<div class="modal-footer">
        			<button
        				type="button"
        				class="btn btn-lg btn-secondary"
        				@click="activeMenuSection = null; isMenuSectionsModalVisible = true"
        			>
        				Πίσω
        			</button>
      			</div>
    		</div>
	  	</div>
	</div>

	<div class="modal modal-lg d-block" v-if="newMenuItem != null">
  		<div class="modal-dialog modal-fullscreen-sm-down">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title">Επιλογές</h5>
        			<button
        				type="button"
        				class="btn-close"
        				@click="newMenuItem = null;activeMenuSection = null; isMenuSectionsModalVisible = false"
        			></button>
      			</div>
      			<div class="modal-body">
					<div class="mb-3" v-if="newMenuItem.priceUnit == 'kg'">
						<label class="form-label">Βάρος (γρ)</label>
						<input class="form-control" type="number" min="50" step="1" v-model="newOrderEntry.weight"/>
					</div>
					<div class="form-check form-control-lg mb-2" v-for="extra in newMenuItem.extras">
  						<label class="form-check-label w-100 fs-5">
	  						<input
	  							class="form-check-input"
	  							type="checkbox"
	  							:value="extra"
	  							v-model="newOrderEntry.orderEntryExtras"
	  						>
		    				{{extra.name}} <span v-if="extra.price != 0">(&euro;{{extra.price}})</span>
  						</label>
					</div>
					<div v-if="isBread(newMenuItem)">
						<input type="hidden" value="0" v-model.number="newOrderEntry.timing">
					</div>
					<div v-else-if="isDrink(newMenuItem)">
						<input type="hidden" value="6" v-model.number="newOrderEntry.timing">
					</div>
					<div class="mb-3" v-else>
						<label class="form-label">Χρόνος</label>
						<select class="form-select form-control-lg mb-2" v-model.number="newOrderEntry.timing">
							<option v-for="i in 5">{{i}}</option>
						</select>
					</div>
					<div class="mb-3">
						<label class="form-label">Οικογένεια</label>
						<select class="form-select form-control-lg mb-2" v-model.number="newOrderEntry.family">
							<option v-for="i in 12">{{i}}</option>
						</select>
					</div>
					<div class="mb-3">
						<label class="form-label">	Σχόλια</label>
  						<textarea
  							class="form-control"
  							rows="2"
  							v-model="newOrderEntry.notes"
  						></textarea>
					</div>
      			</div>
      			<div class="modal-footer">
      				<button
        				type="button"
        				class="btn btn-secondary btn-lg"
        				@click="newMenuItem = null"
        			>Πίσω</button>
        			<button
        				type="button"
        				class="btn btn-primary btn-lg"
        				@click="
        					newOrderEntry.menuItem = newMenuItem;
        					addOrderEntry(newOrderEntry);
        					newMenuItem = null;
        					activeMenuSection = null;
        					isMenuSectionsModalVisible = true
        					newOrderEntry = {notes:'', orderEntryExtras: []};
        				"
        			>Ok</button>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="modal modal-lg d-block" v-if="selectedOrderEntry != null">
  		<div class="modal-dialog modal-fullscreen-sm-down">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title">{{getTranslation(selectedOrderEntry.menuItem, 'el').name}}</h5>
        			<button
        				type="button"
        				class="btn-close"
        				@click="selectedOrderEntry = null;"
        			></button>
      			</div>
      			<div class="modal-body">
      				<div class="mb-3">
						<label class="form-label fw-bold">Έκπτωση</label>
						<div class="input-group mb-3">
							<span class="input-group-text">&euro;</span>
							<input
								class="form-control form-control-lg"
								type="number"
								min="0"
								step="0.1"
								v-model="selectedOrderEntry.discount"
							>
							<button
								class="btn btn-outline-secondary"
								type="button"
								@click="
									selectedOrderEntry.discount = calculateOrderEntryPriceNoDiscount(selectedOrderEntry);
									selectedOrderEntry.discountReason = 'ON_THE_HOUSE'
								"
							>Μάγαζι</button>
							
						</div>
					</div>
      				
      			</div>
      			<div class="modal-footer">
        			<button
        				type="button"
        				class="btn btn-secondary btn-lg me-auto"
        				@click="
        					orderEntryForTransfer = selectedOrderEntry;
        					selectedOrderEntry = null
        				"
        			>Μεταφορά</button>
        			<button
        				type="button"
        				class="btn btn-primary btn-lg"
        				@click="
        					selectedOrderEntry = null
        				"
        			>Ok</button>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="modal modal-lg d-block" v-if="orderEntryForTransfer != null">
  		<div class="modal-dialog modal-fullscreen-sm-down">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title">Μεταφορά σε τραπέζι</h5>
        			<button
        				type="button"
        				class="btn-close"
        				@click="orderEntryForTransfer = null"
        			></button>
      			</div>
      			<div class="modal-body">
      				<div class="list-group">
      					<template v-for="activeOrder in activeOrders">
      						<button
      							v-if="activeOrder.id != order.id"
      							type="button"
      							class="list-group-item list-group-item-action fs-5"
      							@click="transferOrderEntry(activeOrder)"
      						>
      							{{activeOrder.table.name}}
      						</button>
      					</template>
      				</div>
      			</div>
      			<div class="modal-footer">
        			<button
        				type="button"
        				class="btn btn-secondary btn-lg"
        				@click="orderEntryForTransfer = null"
        			>Πίσω</button>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="modal modal-lg d-block" v-if="selectedNewOrderEntry != null">
  		<div class="modal-dialog modal-fullscreen-sm-down">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title">{{getTranslation(selectedNewOrderEntry.menuItem, 'el').name}}</h5>
        			<button
        				type="button"
        				class="btn-close"
        				@click="selectedNewOrnewOrderEntryGroupderEntry = null;"
        			></button>
      			</div>
      			<div class="modal-body">
					<div class="mb-3" v-if="selectedNewOrderEntry.weight != null">
						<label class="form-label">Βάρος (γρ)</label>
						<input
							class="form-control form-control-lg"
							type="number"
							min="50"
							step="1"
							v-model="selectedNewOrderEntry.weight"/>
					</div>
					<div class="form-check form-control-lg mb-3" v-for="extra in selectedNewOrderEntry.menuItem.extras">
  						<label class="form-check-label w-100" >
	  						<input
	  							class="form-check-input"
	  							type="checkbox"
	  							:value="extra"
	  							v-model="selectedNewOrderEntry.orderEntryExtras"
	  						>
							{{extra.name}} <span v-if="extra.price != 0">(&euro;{{extra.price}})</span>
  						</label>
					</div>
					<div class="mb-3">
						<label class="form-label">Έκπτωση</label>
						<input
							class="form-control form-control-lg"
							type="number"
							min="0"
							step="0.1"
							v-model="selectedNewOrderEntry.discount"/>
					</div>
					<div class="mb-3" v-if="!isBread(selectedNewOrderEntry.menuItem) && !isDrink(selectedNewOrderEntry.menuItem)">
						<label class="form-label">Χρόνος</label>
						<select class="form-select form-control-lg mb-2" v-model.number="selectedNewOrderEntry.timing">
							<option v-for="i in 5">{{i}}</option>
						</select>
					</div>
					<div class="mb-3">
						<label class="form-label">Οικογένεια</label>
						<select class="form-select form-control-lg mb-2" v-model.number="selectedNewOrderEntry.family">
							<option v-for="i in 12">{{i}}</option>
						</select>
					</div>
					<div class="mb-3">
						<label class="form-label">Σχόλια</label>
  						<textarea
  							class="form-control form-control-lg"
  							rows="2"
  							v-model="selectedNewOrderEntry.notes"
  						></textarea>
					</div>
      			</div>
      			<div class="modal-footer">
        			<button
        				type="button"
        				class="btn btn-primary btn-lg"
        				@click="
        					selectedNewOrderEntry = null
        				"
        			>Ok</button>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="modal modal-lg d-block" v-if="orderEntryForCancellation != null">
  		<div class="modal-dialog modal-fullscreen-sm-down">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title">{{getTranslation(orderEntryForCancellation.menuItem, 'el').name}}</h5>
        			<button
        				type="button"
        				class="btn-close"
        				@click="orderEntryForCancellation = null"
        			></button>
      			</div>
      			<div class="modal-body">
      				<div class="mb-3">
						<label class="form-label">Λογος ακύρωσης</label>
						<input
							class="form-control form-control-lg"
							type="text"
							v-model="cancellationReason"/>
					</div>
      			</div>
      			<div class="modal-footer">
        			<button
        				type="button"
        				class="btn btn-primary btn-lg"
        				:disabled="cancellationReason.length == 0"
        				@click="
        					orderEntryForCancellation.orderEntryCancellations.push({cancellationReason:cancellationReason, createdAt: getHm()});
							orderEntryForCancellation.quantity--;
        					orderEntryForCancellation = null
        				"
        			>Ok</button>
      			</div>
    		</div>
  		</div>
	</div>

	<!-- error modal -->
	<div class="modal modal-lg d-block" v-if="printerError != null">
  		<div class="modal-dialog modal-fullscreen-sm-down">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title">Λάθος εκτύπωσης</h5>
        			<button
        				type="button"
        				class="btn-close"
        				@click="printerError = null"
        			></button>
      			</div>
      			<div class="modal-body">
      				<div class="mb-3">
						<p class="text-center fs-5">{{printerError.errorText}}</p>
					</div>
      			</div>
    		</div>
  		</div>
	</div>

	<div class="border rounded mb-3" v-if="newOrderEntryGroup.orderEntries.length > 0">
		<div class="row">
			<div class="col">
				<div class="fs-5 fw-medium fst-italic text-center border-bottom p-1">
					{{newOrderEntryGroup.createdAt}}
					<span v-if="newOrderEntryGroup.notes.length > 0">/ {{newOrderEntryGroup.notes}}</span>
				</div>
			</div>
		</div>
		<div v-for="(n, i) in 7">
			<div class="mb-1 p-1 ps-2 pe-2" v-if="filterGroupEntries(newOrderEntryGroup, i).length > 0">
				<div
					class="mb-2"
					v-for="(orderEntry, index) in filterGroupEntries(newOrderEntryGroup, i)"
					@click="selectedNewOrderEntry = orderEntry;"
				>
					<div class="d-flex w-100 justify-content-between">
		      			<div class="fs-5">
		      				{{orderEntry.quantity}} &times;
		      				{{getTranslation(orderEntry.menuItem, 'el').name}}
		      				/ &euro;{{calculateOrderEntryPrice(orderEntry)}}
		      			</div>
		      			<div>
		      				<button
		      					type="button"
		      					class="btn btn-secondary me-2"
		      					@click.stop="if (orderEntry.quantity > 1) { orderEntry.quantity--; } else { deleteNewOrderEntry(orderEntry) }"
		      				>
			      				<span class="fw-bold">&#x2212;</span>
			      			</button>
			      			<button
			      				type="button"
			      				class="btn btn-secondary"
			      				@click.stop="orderEntry.quantity++"
			      			>
			      				<span class="fw-bold">&#x002B;</span>
			      			</button>
			      		</div>
		      		</div>
		    		<div class="mb-0 ps-3">
		    			<div v-if="orderEntry.weight > 0 || orderHasManyFamilies">
		    				<span v-if="orderEntry.weight > 0">
		    					βάρος <span class="fw-bold">{{orderEntry.weight}}gr</span>
		    				</span>
		    				<span v-if="orderEntry.weight > 0 && orderHasManyFamilies"> / </span>
		    				<span v-if="orderHasManyFamilies">οικογένεια <span class="fw-bold">{{orderEntry.family}}</span></span>
		    			</div>
		    			<div v-if="orderEntry.orderEntryExtras.length > 0">
		    				<span v-for="(extra, index) in orderEntry.orderEntryExtras">
			    				<span>{{extra.name}}</span><span v-if="index != orderEntry.orderEntryExtras.length - 1"> / </span>
			    			</span>
		    			</div>
		    			<div v-if="orderEntry.notes.length > 0">{{orderEntry.notes}}</div>
		    		</div>
		  		</div>
			</div>
			<hr v-if="filterGroupEntries(newOrderEntryGroup, i).length > 0 && filterGroupEntries(newOrderEntryGroup, i + 1).length > 0" class="m-1"/>
		</div>
	</div>

	<div v-for="orderEntryGroup in order.orderEntryGroups" class="border rounded mb-3">
		<div class="row">
			<div class="col">
				<div class="fs-5 fw-medium text-center border-bottom p-1 bg-secondary-subtle">
					{{orderEntryGroup.createdAt.substring(11, 16)}} /
					<span v-if="orderEntryGroup.notes.length > 0">{{orderEntryGroup.notes}} /</span>
					<span @click="printOrderEntryGroup(orderEntryGroup)" class="text-primary">
						reprint
					</span><span v-if="reprinting == orderEntryGroup.id" class="spinner-border spinner-border-sm"></span>
				</div>
			</div>
		</div>
		<div v-for="(n, i) in 7">
			<div class="mb-1 p-1 ps-2 pe-2" v-if="filterGroupEntries(orderEntryGroup, i).length > 0">
				<div
					class="mb-2"
					v-for="(orderEntry, index) in filterGroupEntries(orderEntryGroup, i)"
				>
	      			<div class="d-flex w-100 justify-content-between">
		      			<div class="fs-5">
		      				{{orderEntry.quantity}} &times;
		      				{{getTranslation(orderEntry.menuItem, 'el').name}}
		      				<span class="text-primary text-decoration-none" v-if="orderEntry.quantity > 0" @click="selectedOrderEntry = orderEntry">
		      				 / &euro;{{calculateOrderEntryPrice(orderEntry)}}
		      				</span>

		      			</div>
		      			<div>
		      				<button
		      					type="button"
		      					class="btn btn-secondary me-2"
		      					:disabled="orderEntry.quantity == 0"
		      					@click.stop="orderEntryForCancellation = orderEntry"
		      				>
			      				<span class="fw-bold">&#x2212;</span>
			      			</button>
			      			<button
			      				type="button"
			      				class="btn btn-secondary"
			      				@click.stop="
			      					addOrderEntry({
  										menuItem: orderEntry.menuItem,
  										timing: orderEntry.menuItem.isDrink ? 6 : (orderEntry.menuItem.id == 1) ? 0 : 1,
  										family: orderEntry.family,
  										notes: orderEntry.notes,
  										weight: orderEntry.weight,
  										orderEntryExtras: orderEntry.orderEntryExtras
  									});
			      				"
								:disabled="orderEntry.menuItem.trackAvailableQuantity && orderEntry.menuItem.availableQuantity == 0"
			      			>
			      				<span class="fw-bold">&#x002B;</span>
			      			</button>
			      		</div>
		      		</div>
		    		<div class="mb-0 ps-3">
		    			<div v-if="orderEntry.weight > 0 || orderHasManyFamilies">
		    				<span v-if="orderEntry.weight > 0">
		    					βάρος <span class="fw-bold">{{orderEntry.weight}}gr</span>
		    				</span>
		    				<span v-if="orderEntry.weight > 0 && orderHasManyFamilies"> / </span>
		    				<span v-if="orderHasManyFamilies">οικογένεια <span class="fw-bold">{{orderEntry.family}}</span></span>
		    			</div>
		    			<div v-if="orderEntry.orderEntryExtras.length > 0">
		    				<span v-for="(extra, index) in orderEntry.orderEntryExtras">
			    				<span>{{extra.name}}</span><span v-if="index != orderEntry.orderEntryExtras.length - 1"> / </span>
			    			</span>
		    			</div>
		    			<div v-if="orderEntry.notes.length > 0">{{orderEntry.notes}}</div>
		    		</div>
		    		<div class="mb-0 ps-3">
		    			<div v-for="orderEntryCancellation in orderEntry.orderEntryCancellations">
		    				<span class="text-danger">{{orderEntryCancellation.cancellationReason}} / {{orderEntryCancellation.createdAt}}</span>
		    			</div>
		    			<div v-if="orderEntry.discount > 0" class="text-danger">
		    				<span v-if="orderEntry.discountReason == 'ON_THE_HOUSE'">Κέρασμα από μαγαζί</span>
		    				(-&euro;{{orderEntry.discount}})
		    			</div>
		    		</div>
		  		</div>
			</div>
			<hr v-if="filterGroupEntries(orderEntryGroup, i).length > 0" class="m-1"/>
		</div>
	</div>
</div>
<canvas width="576" height="1500" class="d-none"></canvas>
{% endverbatim %}{% endblock %}

{% block javascript %}
	{{ parent() }}
	<!--<script src="/assets/js/vue.global.prod.js"></script>-->
	<script src="/assets/js/vue.global.js"></script>
	<script src="/assets/js/axios.min.js"></script>
	<script src="/assets/js/lodash.min.js"></script>
	<script src="/assets/js/epos-2.24.0.js"></script>
	<script src="/assets/js/receipt-canvas.js"></script>
	<script>
		let orderId = {{orderId}};
		vueApp = Vue.createApp({
		    data() {
		    	return {
		    		isMenuSectionsModalVisible: false,
		    		showNotesModal: false,

		    		activeMenuSection: null,
		    		newMenuItem: null,
		    		selectedOrderEntry: null,
		    		selectedNewOrderEntry: null,

		    		orderEntryForCancellation: null,
		    		cancellationReason: '',

		    		tables: [],
		    		menuSections: [],
					employees: [],
					activeOrders: [],

		    		family: 1,
		    		timing: 1,

		    		newOrderEntry: {
		    			orderEntryExtras: [],
		    			notes: ''
		    		},

		    		newOrderEntryGroup: {
		    			orderEntries: [],
		    			notes: '',
		    			createdAt: ''
		    		},

		    		order: {
		    			table: null,
		    			adults: null,
		    			minors: null,
		    			notes: '',
		    			orderEntries: []
		    		},
		    		initialOrder: {},

		    		printers: [],

		    		savingOrder: false,
		    		showOptions: false,

		    		waiter: null,

		    		reprinting: false,
					printerError: null,

		    		orderEntryForTransfer: null,

		    		canvasCtx: null
		    	}
		    },
		    watch: {
		        'printers' : {
		        	handler: function ()  {
			        	let isTrue = _.reduce(this.printers, function(result, printer) {
	  						return result && printer.printOk;
						}, true);

						if (isTrue) {
							window.location.href = '/orders-app/';
						}
					},
					deep: true,
		            immediate: false
		        },
		        'newOrderEntryGroup.orderEntries': {
		        	handler: function ()  {
			        	if (this.newOrderEntryGroup.orderEntries.length > 0) {
			        		let d = new Date();
			        		minutes = (d.getMinutes() < 10) ? '0' + d.getMinutes() : d.getMinutes();
			        		hours = (d.getHours().length < 10) ? '0' + d.getHours() : d.getHours();
			        		this.newOrderEntryGroup.createdAt = hours + ':' + minutes;
			        	}
					},
					deep: true,
		            immediate: false
		        }
		    },
		    mounted () {
		    	let id = new URLSearchParams(window.location.search).get('id');
		    	this.canvasCtx = document.querySelector('canvas').getContext('2d');

		    	axios({
                    url: '/admin/graph-ql?useCachedResults=true',
                    method: 'post',
                    data: `{
                        menuSections (menu: "Default") {
                            id, translations { name, language } ,
                            menuItems: activeMenuItems {
                            	id, trackAvailableQuantity, availableQuantity, isDrink, price, priceUnit, menuPosition, translations { name, language },
                            	extras: allExtras {
                            		id, name, price
                            	},
                            	printers {id, name, printerAddress}
                            }
                        },
                        tables {
                        	id, name
                        },
                        printers {
                        	id, name, printerAddress, isReceiptPrinter
                        },
                        employees {
                        	id, fullName
                        },
						
                    }`
                }).then(response => {
                    this.menuSections = response.data.data.menuSections
                    this.tables = response.data.data.tables
                    this.printers = response.data.data.printers
                    this.employees = response.data.data.employees
                });

                axios({
                    url: '/admin/graph-ql',
                    method: 'post',
                    data: `{
                        order (id: ${id}) {
	                        id,
	                        table {
	                        	id, name
	                        },
	                        adults, minors
	                        orderEntryGroups {
	                        	id, createdAt, notes
		                        orderEntries {
		                        	id, discount, discountReason, timing, family, quantity, notes, menuItemPrice, weight,
		                        	menuItem {
		                        		id, price, translations { name, language }, menuPosition,
		                        		extras: allExtras {
											id, name, price
										},
	                            		printers {id, name, printerAddress}
		                        	},
		                        	orderEntryExtras {
		                        		name, price
		                        	},
		                        	orderEntryCancellations {
		                        		id, createdAt, cancellationReason
		                        	}
		                        }
		                    }
	                    },
                        activeOrders {
							id, table {id, name}
						},
                        activeUser {
                        	id, fullName
                        }
                    }`
                }).then(response => {
                    this.order = response.data.data.order
                    this.waiter = response.data.data.activeUser
                    this.activeOrders = response.data.data.activeOrders
                });
		    },
		    computed: {
		    	totalPrice () {
		    		let totalPrice = 0;

		    		_.each(this.order.orderEntryGroups, orderEntryGroup => {
			    		_.each(orderEntryGroup.orderEntries, orderEntry => {
			    			totalPrice += this.calculateOrderEntryPrice(orderEntry);
			    		});
			    	});

		    		_.each(this.newOrderEntryGroup.orderEntries, orderEntry => {
		    			totalPrice += this.calculateOrderEntryPrice(orderEntry);
		    		});

		    		return _.round(totalPrice, 1);
		    	},
		    	orderHasManyFamilies () {
		    		let orderHasManyFamilies = false;

		    		_.each(this.order.orderEntryGroups, orderEntryGroup => {
			    		let index = orderEntryGroup.orderEntries.findIndex(
			    			orderEntry => orderEntry.family != 1
			    		)

			    		if (index != -1) {
			    			orderHasManyFamilies = true;
			    		}
			    	})

		    		index = this.newOrderEntryGroup.orderEntries.findIndex(
		    			orderEntry => orderEntry.family != 1
		    		)
		    		if (index != -1) {
		    			orderHasManyFamilies = true;
		    		}

		    		return orderHasManyFamilies;
		    	}
		    },
		    methods: {
		    	getHm() {
		    		var today = new Date();
		    		return `${today.getHours()}:${today.getMinutes() < 10 ? '0' + today.getMinutes() : today.getMinutes()}\n`
		    	},
		    	isEqual(entryA, entryB) {
		    		return entryA.menuItem.id == entryB.menuItem.id
						&& entryA.weight == entryB.weight
	    				&& entryA.family == entryB.family
	    				&& entryA.timing == entryB.timing
	    				&& entryA.notes == entryB.notes
		    			&& _.isEqual(entryA.orderEntryExtras, entryB.orderEntryExtras)
		    	},
		    	addOrderEntry(newOrderEntry) {
		    		let index = this.newOrderEntryGroup.orderEntries.findIndex(
		    			orderEntry => this.isEqual(orderEntry, newOrderEntry)
		    		);

	    			if (index != -1) {
	    				this.newOrderEntryGroup.orderEntries[index].quantity++;
	    			} else {
		    			this.newOrderEntryGroup.orderEntries.splice(index, 0, {
			    			quantity: 1,
			    			family: newOrderEntry.family,
			    			timing: newOrderEntry.timing,
			    			menuItem: newOrderEntry.menuItem,
			    			menuItemPrice: newOrderEntry.menuItem.price,
			    			orderEntryExtras: newOrderEntry.orderEntryExtras,
			    			notes: newOrderEntry.notes,
			    			weight: newOrderEntry.weight,
			    			discount: 0,
			    		});
			    	}

		    	},
		    	showMenuItemOptionsModal (menuItem) {
		    		this.newMenuItem = menuItem;
		    		this.newOrderEntry.timing = this.timing;
					this.newOrderEntry.family = this.family;
					this.newOrderEntry.notes = '';

		    		if (menuItem.priceUnit == 'kg') {
	  					this.newOrderEntry.weight = '';
		    		}
		    	},
		    	foodEntries() {
		    		return this.order.orderEntries.filter(orderEntry =>
		    			!this.isBread(orderEntry.menuItem) &&
		    			!this.isDrink(orderEntry.menuItem)
		    		);
		    	},
		    	breadEntries() {
		    		return this.order.orderEntries.filter(orderEntry => this.isBread(orderEntry.menuItem));
		    	},
		    	drinkEntries() {
		    		return this.order.orderEntries.filter(orderEntry => this.isDrink(orderEntry.menuItem));
		    	},
		    	isBread(menuItem) {
		    		//return menuItem.id == 1;
                    return this.getTranslation(menuItem, 'en').name == 'Bread'; //TODO
		    	},
		    	isDrink(menuItem) {
		    		return menuItem.isDrink;
		    	},
		    	getTranslation(object, language) {
		    		return _.find(object.translations, translation => {
		    			return translation.language == language;
		    		});
		    	},
		    	calculateOrderEntryPrice(orderEntry) {
		    		let price = orderEntry.menuItemPrice;

		    		let weight = orderEntry.weight;
		    		if (weight > 0) {
		    			if (weight < 1000) {
		    				price -= (price * ((1000 - weight) / 1000));
		    			} else {
		    				price += price * ((weight - 1000) / 1000);
		    			}
		    		}

		    		_.each(orderEntry.orderEntryExtras, extra => {
		    			price += extra.price;
		    		})

		    		return _.round((price * orderEntry.quantity) - orderEntry.discount, 1);
		    	},
				calculateOrderEntryPriceNoDiscount(orderEntry) {
		    		let price = orderEntry.menuItemPrice;

		    		let weight = orderEntry.weight;
		    		if (weight > 0) {
		    			if (weight < 1000) {
		    				price -= (price * ((1000 - weight) / 1000));
		    			} else {
		    				price += price * ((weight - 1000) / 1000);
		    			}
		    		}

		    		_.each(orderEntry.orderEntryExtras, extra => {
		    			price += extra.price;
		    		})

		    		return _.round(price * orderEntry.quantity, 1);
		    	},
		    	save () {
		    		/*if (this.order.orderEntries.length == 0) {
		    			return;
		    		}*/

		    		if (this.savingOrder) {
		    			return;
		    		}
		    		this.savingOrder = true;

		    		axios.post(`/orders-app/update?id=${this.order.id}`, {'order': this.order, 'newOrderEntryGroup': this.newOrderEntryGroup})
		                .then(response => {
		                    if (response.data == 'ok') {
		                    	this.printOrder();
		                    }
		                }).catch(function (error) {
	    					console.log(error);
	  					});
		    	},

		    	filterGroupEntries(orderGroup, timing) {
		    		let orderedEntries = orderGroup.orderEntries.filter(
		    			orderEntry =>
		    			orderEntry.timing == timing
		    		);

		    		return _.sortBy(orderedEntries, [function(o) { return o.menuItem.menuPosition; }])
		    	},
		    	filteredTables(row) {
		    		return this.tables.filter(table =>
		    			table.name[0] == row
		    		);
		    	},
		    	deleteNewOrderEntry(oe) {
		    		let index = this.newOrderEntryGroup.orderEntries.findIndex(
		    			orderEntry => this.isEqual(orderEntry, oe)
		    		);

		    		this.newOrderEntryGroup.orderEntries.splice(index, 1);
		    	},
		    	transferOrderEntry(targetOrder) {
		    		axios.post('/orders-app/transfer-entry', {
		    			orderEntryId: this.orderEntryForTransfer.id,
		    			targetOrderId: targetOrder.id
		    		}).then(response => {
		    			if (response.data == 'ok') {
		    				this.order.orderEntryGroups.forEach(group => {
		    					let index = group.orderEntries.findIndex(e => e.id == this.orderEntryForTransfer.id);
		    					if (index !== -1) {
		    						group.orderEntries.splice(index, 1);
		    					}
		    				});
		    				this.orderEntryForTransfer = null;
		    			}
		    		});
		    	},
		    	printOrderEntryGroup(orderEntryGroup) {
		    		this.reprinting = orderEntryGroup.id

		    		if (orderEntryGroup.orderEntries.length == 0) {
						this.reprinting = false
						return;
					}

					_.each(this.printers, printer => {
						let epos = new epson.ePOSBuilder();

						epos.addCommand('\x1b\x74\x26'); //ESC t 16 (1252 code table)
						epos.addFeedLine(2);
						epos.addTextAlign(epos.ALIGN_CENTER);
						epos.addTextSmooth(true);

						epos.addText(`${this.waiter.fullName} / `);
						epos.addText(this.getHm());
						epos.addTextFont(epos.FONT_B);
						epos.addTextAlign(epos.ALIGN_CENTER);
						epos.addFeedLine(1);
						epos.addTextSize(2, 2);
						epos.addText('--- REPRINT ---');
						epos.addFeedLine(3);
						epos.addTextSize(3, 3);
						epos.addText(`Τραπέζι ${this.order.table.name}`);
						epos.addFeedLine(2);
						epos.addTextSize(2, 2);
						epos.addText(`Άτομα ${this.order.adults} / ${this.order.minors}`);
						if (orderEntryGroup.notes.length > 0) {
							epos.addFeedLine(2);
							epos.addText(`***\n${orderEntryGroup.notes}\n***`);
						}
						epos.addFeedLine(2);
						epos.addCommand(_.repeat('\xC4', 32));
						epos.addFeedLine(1);
						epos.addTextAlign(epos.ALIGN_LEFT);
						epos.addTextLineSpace(40);

						let orderEntriesCount = 0;
						for (i = 0; i < 7; i++) {
							_.each(this.filterGroupEntries(orderEntryGroup, i), orderEntry => {
								let index = _.findIndex(orderEntry.menuItem.printers, s => s.id == printer.id);
								if (index != -1 || printer.isReceiptPrinter) {
									orderEntriesCount++;

									quantity = orderEntry.quantity;

									let name = this.getTranslation(orderEntry.menuItem, 'el').name;
									let nameEn = this.getTranslation(orderEntry.menuItem, 'en').name;

									let weight = '';
									if (orderEntry.weight != null) {
										weight = `${orderEntry.weight / 1000}Kg`;
									}

									let tickboxes = '';
									if (quantity > 1 && nameEn != 'Bread') { //TODO
										for (j = 0; j < quantity; j++) {
											tickboxes += '[]';
										}
									}

									let priceBlock = '';
									if (printer.isReceiptPrinter) {
										let priceBlock = '€' + this.calculateOrderEntryPrice(orderEntry);

										epos.addText(`${quantity} x ${name} (${priceBlock}) ${weight}\n`);
									} else {
										if (quantity > 6) {
											epos.addText(`${quantity} x ${name} ${weight} \n\t${tickboxes}\n`);
										} else {
											epos.addText(`${quantity} x ${name} ${weight} ${tickboxes}\n`);
										}
									}

									if (this.orderHasManyFamilies) {
										epos.addText(`\t(F${orderEntry.family})\n`);
									}

									_.each(orderEntry.orderEntryExtras, orderEntryExtra => {
										epos.addText(`\t${orderEntryExtra.name}\n`);
									});

									if (orderEntry.notes.length > 0) {
										epos.addText(`\t${orderEntry.notes}\n`);
									}
								}
							});
							if (this.filterGroupEntries(orderEntryGroup, i + 1).length > 0 && orderEntriesCount > 0) {
								//printer.addText(`--------------------------------\n`);
								epos.addCommand(_.repeat('\xC4', 32));
								epos.addFeedLine(1);
							}
						}

						epos.addFeedLine(10);
						epos.addCut(printer.CUT_FEED);

						
                        axios.post(
                            '/admin/print-jobs/create',
                            {
                                printer: printer.name,
                                xml: epos.toString()
                            }
                        ).then(response => {
                            if (response.data == 'ok') {
                                this.reprinting = false;
                            }
                        }).catch(function (error) {
                            alert(error);
                        });
					});
		    	},
		    	printOrder() {
		    		if (this.newOrderEntryGroup.orderEntries.length == 0) {
		    			_.each(this.printers, printer => {
		    				printer.printOk = true;
		    			});
		    			return;
		    		}
		    		_.each(this.printers, printer => {
		    			let pr = new epson.ePOSBuilder();

		    			let { orderEntriesCount, canvasHeight } = drawReceiptOnCanvas(
		    				this.canvasCtx,
		    				printer,
		    				this.newOrderEntryGroup.orderEntries,
		    				{
		    					waiterName: this.waiter.fullName,
		    					label: 'EXTRA',
		    					tableName: this.order.table.name,
		    					adults: this.order.adults,
		    					minors: this.order.minors,
		    					notes: this.newOrderEntryGroup.notes
		    				},
		    				{
		    					hasManyFamilies: this.orderHasManyFamilies,
		    					getTranslation: this.getTranslation.bind(this),
		    					calculateOrderEntryPrice: this.calculateOrderEntryPrice.bind(this)
		    				}
		    			);

		    			if (orderEntriesCount > 0) {
		    				pr.addImage(this.canvasCtx, 0, 0, 576, canvasHeight, pr.COLOR_1, pr.MODE_MONO);
		    				pr.addFeedLine(5);
		    				pr.addCut(pr.CUT_FEED);
		    				axios.post(
		    					'/admin/print-jobs/create',
		    					{
		    						printer: printer.name,
		    						xml: pr.toString()
		    					}
		    				).then(response => {
		    					if (response.data == 'ok') {
		    						printer.printOk = true;
		    					}
		    				}).catch(function (error) {
		    					alert(error);
		    				});
		    			} else {
		    				printer.printOk = true;
		    			}
		    		});
		    	},
		    }
		}).mount('#app')
	</script>
{% endblock %}
